<style type="text/css">
   .toxu {padding: 20px;color: #333; font-size: 15px;}
   .toxo-owl {float:left;margin: 4px 20px 2px 0px;width:220px;border:1px solid #CCC;padding:6px;}
   h2.t1 {color: #555;margin-top: 15px;}
   h3.t2 {color: #555;margin-top: 15px;}
  .helps { margin: 5em auto; text-align: left; -moz-column-count: 3;column-count: 3;}
.helps__item {width: 100%;display: inline-block; vertical-align: top;text-align: left;margin-bottom: 2em;}
.helps__item-left { vertical-align: top; margin-right: 1.5em; width: 60px; text-align: right; padding-top: 1.2em;}
.helps__item {text-align: left;margin-bottom: 2em;}
.helps__item-link {color: #000; font-size: 1.1em; display: table; margin-bottom: 1em;}
 </style>

<div class="telo">

<h1 style="text-align:center; font-size: 2.0em;">Помощь по сайту «Toxu.ru»</h1>
<br>

<div class="helps">

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://yastatic.net/iconostasis/_/s-hGoCQMUosTziuARBks08IUxmc.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link" tabindex="0" href="">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" href="">ТЕстыва ыва ыва </a>
<a class="helps__item-link" tabindex="0" href="">ыв аыва ыва ыва</a>
<a class="helps__item-link" tabindex="0" href=""> ыва ываы ваы ва ыва</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://yastatic.net/iconostasis/_/s-hGoCQMUosTziuARBks08IUxmc.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link" tabindex="0" href="">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" href="">ТЕстыва ыва ыва </a>
<a class="helps__item-link" tabindex="0" href="">ыв аыва ыва ыва</a>
<a class="helps__item-link" tabindex="0" href=""> ыва ываы ваы ва ыва</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://yastatic.net/iconostasis/_/s-hGoCQMUosTziuARBks08IUxmc.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link" tabindex="0" href="">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" href="">ТЕстыва ыва ыва </a>
<a class="helps__item-link" tabindex="0" href="">ыв аыва ыва ыва</a>
<a class="helps__item-link" tabindex="0" href=""> ыва ываы ваы ва ыва</a></div>
</div></div>

</div>


<br><br>
В стадии разработки...

<br><br>

<h3>Помощь сайту</h3>

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.<br>
Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>

Вы так же можете помочь проекту деньгами:<br><br>

<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

<br><br>
</div>

 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
