<style type="text/css">
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}

.help-box {width: 99%;margin: 0 1% 1.5em 1%;}
.help-g {margin: 2em auto;text-align: left; -moz-column-count: 3;column-count: 3;}
.help-box-heading{text-align: center;}
.help-box-inner{width: 100%;padding: 0;border-width: 1px;border-style: solid;border-color: #e5e5e5;}
.help-box-heading i.fa {font-size: 22px;color: #444;text-align: center;margin-top: 0.4em;}
.help-box h3 {font-size: 1.3em;margin-bottom: 0.5em;margin-top: 0.25em;line-height: 1.1em;text-align: center;color: #444;}
.help-box-inner {text-align: center;}
.help-description{padding: 3px;text-align: center;color: #919191;}

@media (max-width: 900px) { 
  .bottom_footer, .sidebar-menu, .no-mob {display: none;} 
  .telo {width:96%;margin-left:10px;}
}
</style>

<div class="help">
<div class="sidebar-menu"><br>
<span class="menu">Помощь</span>
<a class="menu" href="features">Возможности сайта</a>
<a class="menu" href="toxu">Почему сайт назван Toxu?</a>
<a class="menu" href="dev">Для разработчиков</a>

</div>
<div class="telo toxu">

<h1 class="t1">Помощь по сайту</h1>
<p>
<strong><a target="_blank" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Миссия Toxu</a> — делиться знаниями.</strong> Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели путем создания лучшего сайта вопросов и ответов в сети.</p>
<p><strong>Что означает название сайта «Toxu»?</strong><br>
<code>«Toxu»</code> - это кличка нашей энергичной, умной совы, которая вот уже 4 месяца живет в офисе. У неё есть на сайте отдельная <a href="https://toxu.ru/toxu">страница</a>.</p>

<p><strong>Как мне отслеживать вопросы только в определенных разделах?</strong><br>
Вы можете отписаться от вопросов в тех разделах, которые не хотите видеть на главной странице. Для этого необходимо ознакомиться со следующим материалом:</p>
<ul>
<li><a target="_blank" href="https://toxu.ru/t/kak-mne-podpisyvatsya-tolko-na-opredelennye-temy/1539">Как мне подписываться только на определенные темы?</a></li>
</ul>
<p><strong>Как мне выбрать лучший ответ?</strong><br>
В каждом ответе на ваш вопрос есть данная кнопка.<br>
<img style="border: 1px solid #e9e9e9;" src="https://toxu.ru/uploads/default/original/1X/b8230df47d6090d15d7077b84d8bad5941ea0a70.jpg" width="395" height="44"><br>
Не спешите выбирать лучший ответ, возможно, еще не все участники ответили. Более подробно почитать про выбор <a title="лучший ответ" href="https://toxu.ru/t/luchshij-otvet-na-sajte-toxu/2479">лучшего ответа можно по этой ссылке</a>.</p>
<p><strong>Где я могу настроить свой профиль?</strong><br>
Свой профиль вы можете настроить в окне, если нажать на аватар в шапке сайта:<br>
<img style="border: 1px solid #e9e9e9;" src="https://toxu.ru/uploads/default/original/1X/26a4ba177dac310102701cd80d82aef2515b8688.jpg" width="406" height="154"></p>
<p><strong>Как мне поменять дизайн?</strong><br>
Поменять дизайн можно в настройках своего профиля на вкладке <em>интерфейс</em>. На данный момент несколько вариантов дизайна:</p>
<ul>
<li>светлый  (по умолчанию);</li>
<li>mini;</li>
<li>social</li>
<li>черный.</li>
</ul>



<h3 class="t3">Как</h3>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-zadat-vopros-na-sajte-toxu/1439">Как задать вопрос.</a><br>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-otvetit-na-vopros-na-sajte-toxu-ru/1727">Как ответить на вопрос.</a><br>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-sozdat-opros-na-toxu/1452">Как создать опрос.</a><br>

<h3 class="t3">Основополагающие документы</h3>
   
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/poleznye-i-bespoleznye-otvety/202">О полезности.</a><br>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">О почтительности.</a><br>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-plagiata/317">О плагиате.</a><br>




<h2 class="t2">Популярные вопросы</h2>


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/pochemu-moj-otvet-udalen-skryt/159">Почему мой ответ удален/скрыт?</a><br>
				

<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-pozhalovatsya-na-vopros-ili-otvet/1462">Как пожаловаться на вопрос/ответ?</a><br>



<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/vojna-pravok-na-toxu/1281">Что такое Война правок?</a><br>



<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-priglasit-druzej-na-resurs-toxu/371">Как пригласить друзей?</a><br>


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-otvet-wiki-i-vopros-wiki-na-toxu-ru-green-book/814">«Wiki» ответ и вопросы.</a><br>
				


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">Уровень доверия.</a><br>


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Что такое Группы?</a><br>



<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/formatirovanie-teksta/428">Форматирование текста.</a><br>



<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a><br>


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/dlya-chego-ya-mogu-ispolzovat-toxu/1326">Для чего сайт Toxu?</a><br>


<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-kontenta-18/1532">А что с 18+?</a><br>

<br>

<div class="no-mob">
<div class="help-g">
<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/tags">
<div class="help-box-heading">
<i class="fa fa-tags" aria-hidden="true"></i>
<h3>Теги</h3>
</div><div class="help-description">Подписывайтесь и читайте<br><br></div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/groups">
<div class="help-box-heading">
<i class="fa fa-users" aria-hidden="true"></i>
<h3>Группы</h3>
</div><div class="help-description">Вступайте в группы...<br><br></div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank" href="https://toxu.ru/c/toxu/blog">
<div class="help-box-heading">
<i class="fa fa-pencil" aria-hidden="true"></i>
<h3>Блоги</h3>
</div><div class="help-description">Пишите, делитесь знаниями<br><br></div></a>
</div></div></div></div>


<h3 class="t3">Помощь сайту</h3> 

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт. Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>


<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>
<br><br>
Пока сайт находится в тестовой версии, у каждого желающего есть возможность поучаствовать в его развитии.  
Принимайте участие в обсуждениях, предлагайте, критикуйте и вы обязательно будете замечены.
<br><br>
<img style="border: 1px solid #e9e9e9;" src="https://toxu.ru/uploads/default/optimized/2X/0/00cdeb3f34477a40dc41eff3c0c1dace09913a90_1_690x116.png" alt="Награды Toxu" width="690" height="116">


<p><strong>Куда мне писать о своих предложения по этому сайту? Есть идеи для сайта…</strong><br>
Для этого существует отдельный раздел: <a  target="_blank"  href="https://toxu.ru/c/toxu"><strong>Toxu</strong></a><br>
И вы можете написать личное сообщение официальному аккаунту Toxu</p>


<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
<p>Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</p>
</section>

</div></div>


<div class="bottom_footer wrap" style="clear:both;"><div class="footer-copyright">
<p class="copyright">Copyright © 2018  <a title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
</p></div>

<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
</ul></div></noindex>

</div>
