<style type="text/css">
body.docked {background-color: #FFFFFF;}
.toxu {padding: 20px;color: #333; font-size: 15px;}
h1.t1 {color: #333;text-align:center; font-size: 2.0em;margin-top: 1.0em;}
h2.t2 {color: #555;text-align:center; font-size: 1.8em;margin-top: 1.0em;}
h3.t3 {color: #555;text-align: center;font-size: 1.6em;margin-top: 1.0em;}

.helps { margin: 3em auto; text-align: left; -moz-column-count: 3;column-count: 3;}
.helps__item {width: 100%;vertical-align: top;text-align: left;margin-bottom: 2em;}
.helps__item-left { vertical-align: top; margin-right: 1.2em; width: 50px; text-align: right; padding-top: 1.2em;display: inline-block;}
.helps__item-right {padding-top: 1.2em;width: calc(100% - 86px);display: inline-block;}
a.helps__item-link {color: #000; font-size: 1.1em; display: table; margin-bottom: 1em;}
a.helps__item-link:hover {color: #e45735;}
.helps__item-link_title_yes {margin-bottom: 1em;font-size: 1.5em; color: #04b;font-weight: 500;display: table;}
.helps__item-link_title_yes:hover {color: #e45735;}
a.serv__link  {color: #000; margin-bottom: 1em;}
a.serv__link:hover {color: #e45735;}
.serv__item { margin-bottom: 28px;text-align: left;font-size: 15px;}
.serv__img {display: inline-block;margin-right: 16px;margin-left: 54px;vertical-align: middle;}
.help-box {
    width: 23%;
    margin: 0 1% 1.5em 1%;
}
.help-box-inner{
    width: 100%;
    padding: 0;
    border-width: 1px;
    border-left-width: 0;
    border-style: solid;
    border-color: #e5e5e5;
}
.help-box-heading .logo {
    display: block;
    height: 40px;
    margin: 0 auto 1em auto;
}

.help-box h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.25em;
    line-height: 1.1em;
    text-align: center;
    color: #222;
}
 </style>

<div class="telo">

<h1 class="t1">Помощь по сайту</h1>

<div class="helps">

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/b/b4d4ca31168ef59377ac91e2203736e0b6684e11.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/faq">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">Уровни доверия...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Группы пользователей...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-mne-podpisyvatsya-tolko-na-opredelennye-temy/1539">Подписка и оповещение...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/b/bee75717782b18f5e7a3ce4bbc69533b6b074a1b.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/c/toxu/regulations">Правила</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/poleznye-i-bespoleznye-otvety/202">О полезности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">О почтительности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-plagiata/317">О плагиате...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/4/470713f6f8054e6b0b38906553ae868dd6ff6071.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/dev">Разработка</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайте...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/c/internet/discourse">Вопросы по Discourse...</a></div>
</div></div>

</div>

<h2 class="t2">Разное</h2>

<div class="helps">

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/1/1a00403ff14b5c958b29f9abe1f06fcb65935386.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/b/bc1ae9527da4d489be94babdd913193e77c82689.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/9/9b30b261a1584050820f8a66fc32a3e03a56a12f.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/9/9b30b261a1584050820f8a66fc32a3e03a56a12f.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/9/9b30b261a1584050820f8a66fc32a3e03a56a12f.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/9/9b30b261a1584050820f8a66fc32a3e03a56a12f.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>



<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

</div>

<div class="helps">

<div class="help-box">
<div class="help-box-inner">
<a href="/c/toxu/regulations">
<div class="help-box-heading">
<img src="/uploads/default/original/2X/5/51d508c18cdec64e8e2486b9efd2ab39a35c932c.png" class="logo">
<h3>Теги</h3>
</div><div class="help-description">Официальная политика сайта Toxu.ru</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a href="/c/toxu/regulations">
<div class="help-box-heading">
<img src="/uploads/default/original/2X/5/51d508c18cdec64e8e2486b9efd2ab39a35c932c.png" class="logo">
<h3>Теги</h3>
</div><div class="help-description">Официальная политика сайта Toxu.ru</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a href="/c/toxu/regulations">
<div class="help-box-heading">
<img src="/uploads/default/original/2X/5/51d508c18cdec64e8e2486b9efd2ab39a35c932c.png" class="logo">
<h3>Теги</h3>
</div><div class="help-description">Официальная политика сайта Toxu.ru</div></a>
</div></div>


</div>


<h3 class="t3">Помощь сайту</h3> 

<br><br>

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.<br>
Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>

Разработка....:</div>
<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>



 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
