<style type="text/css">
body.docked {background-color: #FFFFFF;}
.toxu {padding: 20px;color: #333; font-size: 15px;}
h1.t1 {color: #333;text-align:center; font-size: 2.0em;margin-top: 1.0em;}
h2.t2 {color: #555;text-align:center; font-size: 1.5em;margin-top: 1.0em;}
h3.t3 {color: #555;text-align: center;font-size: 1.5em;margin-top: 1.0em;}
.helps { margin: 3em auto; text-align: left; -moz-column-count: 3;column-count: 3;}
.helps__item {width: 100%;vertical-align: top;text-align: left;margin-bottom: 2em;}
.helps__item-left { vertical-align: top; margin-right: 1.2em; width: 50px; text-align: right; padding-top: 1.2em;display: inline-block;}
.helps__item-right {padding-top: 1.2em;width: calc(100% - 86px);display: inline-block;}
a.helps__item-link {color: #000; font-size: 1.1em; display: table; margin-bottom: 1em;}
a.helps__item-link:hover {color: #e45735;}
.helps__item-link_title_yes {margin-bottom: 1em;font-size: 1.5em; color: #04b;font-weight: 500;display: table;}
.helps__item-link_title_yes:hover {color: #e45735;}
a.serv__link  {color: #000; margin-bottom: 1em;}
a.serv__link:hover {color: #e45735;}
.serv__item { margin-bottom: 28px;text-align: left;font-size: 15px;}
.serv__img {display: inline-block;margin-right: 16px;margin-left: 54px;vertical-align: middle;}
.help-box {width: 99%;margin: 0 1% 1.5em 1%;}
.help-g {margin: 3em auto;text-align: left; -moz-column-count: 3;column-count: 3;width: 80%;}
.help-box-heading{text-align: center;}
.help-box-inner{width: 100%;padding: 0;border-width: 1px;border-style: solid;border-color: #e5e5e5;}
.help-box-heading i.fa {font-size: 22px;color: #444;text-align: center;margin-top: 0.4em;}
.help-box h3 {font-size: 1.3em;margin-bottom: 0.5em;margin-top: 0.25em;line-height: 1.1em;text-align: center;color: #444;}
help-box-inner {text-align: center;}
.help-description{padding: 0 1em 1em 1em;text-align: center;font-size: 1.05em;color: #919191;}
@media(max-width:1050px){
.serv__img  {margin-left: 1px;margin-right: 5px;} .helps__item-left {display: none;} .helps__item-right {display: block;width: 100%;}
}
</style>

<style type="text/css">
.toxu {color: #333; font-size: 16px;font-family: "Exo 2",Arial,Helvetica,sans-serif;line-height: 24px;}
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
h2.t1 {color: #555;margin-top: 15px;}
h3.t2 {color: #555;margin-top: 15px;}

.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}

@media (max-width: 800px) { 
  .bottom_footer, .sidebar-menu {display: none;} 
  .telo {width:96%;}
}
</style>

<div class="help">
<div class="sidebar-menu"><br>
<span class="menu">Помощь</span>
<a class="menu" href="toxu">Почему сайт назван Toxu?</a>
<a class="menu" href="dev">Для разработчиков</a>

</div>
<div class="telo">

<h1 class="t1">Помощь по сайту</h1>

Миссия Toxu — делиться знаниями. Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели, путем создания лучшего сайта вопросов и ответов в сети.

<div class="helps">

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/c/c5f22633eb6dd0f6a6d3f85594ff591cda44851b.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/faq">Как...?</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-zadat-vopros-na-sajte-toxu/1439">Задать вопрос...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-otvetit-na-vopros-na-sajte-toxu-ru/1727">Ответить на вопрос...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-sozdat-opros-na-toxu/1452">Создать опрос...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/b/bee75717782b18f5e7a3ce4bbc69533b6b074a1b.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/c/toxu/regulations">Правила</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/poleznye-i-bespoleznye-otvety/202">О полезности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">О почтительности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-plagiata/317">О плагиате...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/4/470713f6f8054e6b0b38906553ae868dd6ff6071.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/dev">Разработка</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайте...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/c/internet/discourse">Вопросы по Discourse...</a></div>
</div></div>

</div>

<h2 class="t2">Популярные вопросы</h2>

<div class="helps">

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/e/e612c0be741fa69f88e894e6d7fe49dc73040e62.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/pochemu-moj-otvet-udalen-skryt/159">Почему мой ответ удален/скрыт?</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/e/e3e66702250fc569b0e6f1c5b87c62cfb074b492.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-pozhalovatsya-na-vopros-ili-otvet/1462">Как пожаловаться на вопрос/ответ?</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/5/5b15ecbd860f030873e17a615dec9ea60103ce8d.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/vojna-pravok-na-toxu/1281">Что такое Война правок?</a></div>



<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/2/277118ad2e19052228eb9c9efef36d7ed8a71f70.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-priglasit-druzej-na-resurs-toxu/371">Как пригласить друзей?</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/3/3067c1da58dea7ba72e0dbd73f01ec90fc6cc837.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-otvet-wiki-i-vopros-wiki-na-toxu-ru-green-book/814">«Wiki» ответ и вопросы...</a></div>
				

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/6/66c2550551e4620580956c7983bb215d033f478e.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">Уровень доверия...</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/c/c466d3ffcb3a6199f541f9fe10c8294e471fed0b.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Что такое Группы?</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/7/7c0283a604b68434284207421932b602e01f95a7.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/formatirovanie-teksta/428">Форматирование текста...</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/d/d66eaece1305d080d6cee0e8f4df6cc771c175a8.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/8/8a7a7e255c7c51c4e647f25e8ff30d5c6784146e.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/toxu">Почему сайт назван Toxu?</a></div>
	
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/8/8b73496da55115d8fe8fc5a5cec06a6d73fa3268.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/dlya-chego-ya-mogu-ispolzovat-toxu/1326">Для чего сайт Toxu?</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/7/7ef70dae62506c153998b55ee3c4a7392a930711.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-kontenta-18/1532">А что с 18+?</a></div>


</div>



<div class="help-g">

<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/tags">
<div class="help-box-heading">
<i class="fa fa-tags" aria-hidden="true"></i>
<h3>Теги</h3>
</div><div class="help-description">Подписывайтесь и читайте</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/groups">
<div class="help-box-heading">
<i class="fa fa-users" aria-hidden="true"></i>
<h3>Группы</h3>
</div><div class="help-description">Вступайте в группы по интересам</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank" href="https://toxu.ru/c/toxu/blog">
<div class="help-box-heading">
<i class="fa fa-pencil" aria-hidden="true"></i>
<h3>Блоги</h3>
</div><div class="help-description">Пишите, делитесь знаниями</div></a>
</div></div>


</div>


<h3 class="t3">Помощь сайту</h3> 

<br>

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.<br>
Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>


<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>
<br><br>
Пока сайт находится в тестовой версии, у каждого желающего есть возможность поучаствовать в его развитии. <br>
Принимайте участие в обсуждениях, предлагайте, критикуйте и вы обязательно будете замечены.
<br><br>
<img src="https://toxu.ru/uploads/default/optimized/2X/0/00cdeb3f34477a40dc41eff3c0c1dace09913a90_1_690x116.png" alt="Награды Toxu" width="690" height="116">
<br><br>
</div></div>


<div class="bottom_footer wrap" style="clear:both;"><div class="footer-copyright">
<p class="copyright">Copyright © 2018  <a title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
</p></div>

<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
</ul></div></noindex>

</div>
