<style type="text/css">
body.docked {background-color: #FFFFFF;}
.toxu {padding: 20px;color: #333; font-size: 15px;}
h1.t1 {color: #333;text-align:center; font-size: 2.0em;margin-top: 1.0em;}
h2.t2 {color: #555;text-align:center; font-size: 1.5em;margin-top: 1.0em;}
h3.t3 {color: #555;text-align: center;font-size: 1.5em;margin-top: 1.0em;}

.helps { margin: 3em auto; text-align: left; -moz-column-count: 3;column-count: 3;}
.helps__item {width: 100%;vertical-align: top;text-align: left;margin-bottom: 2em;}
.helps__item-left { vertical-align: top; margin-right: 1.2em; width: 50px; text-align: right; padding-top: 1.2em;display: inline-block;}
.helps__item-right {padding-top: 1.2em;width: calc(100% - 86px);display: inline-block;}
a.helps__item-link {color: #000; font-size: 1.1em; display: table; margin-bottom: 1em;}
a.helps__item-link:hover {color: #e45735;}
.helps__item-link_title_yes {margin-bottom: 1em;font-size: 1.5em; color: #04b;font-weight: 500;display: table;}
.helps__item-link_title_yes:hover {color: #e45735;}
a.serv__link  {color: #000; margin-bottom: 1em;}
a.serv__link:hover {color: #e45735;}
.serv__item { margin-bottom: 28px;text-align: left;font-size: 15px;}
.serv__img {display: inline-block;margin-right: 16px;margin-left: 54px;vertical-align: middle;}
.help-box {width: 99%;margin: 0 1% 1.5em 1%;}
.help-g {margin: 3em auto;text-align: left; -moz-column-count: 3;column-count: 3;width: 80%;}
.help-box-heading{text-align: center;}
.help-box-inner{width: 100%;padding: 0;border-width: 1px;border-style: solid;border-color: #e5e5e5;}
.help-box-heading i.fa {font-size: 22px;color: #444;text-align: center;margin-top: 0.4em;}
.help-box h3 {font-size: 1.3em;margin-bottom: 0.5em;margin-top: 0.25em;line-height: 1.1em;text-align: center;color: #444;}
help-box-inner {text-align: center;}
.help-description{padding: 0 1em 1em 1em;text-align: center;font-size: 1.05em;color: #919191;}
</style>

<div class="telo">

<h1 class="t1">Помощь по сайту</h1>

<div class="helps">

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/b/b4d4ca31168ef59377ac91e2203736e0b6684e11.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/faq">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">Уровни доверия...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Группы пользователей...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-mne-podpisyvatsya-tolko-na-opredelennye-temy/1539">Подписка и оповещение...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/b/bee75717782b18f5e7a3ce4bbc69533b6b074a1b.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/c/toxu/regulations">Правила</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/poleznye-i-bespoleznye-otvety/202">О полезности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">О почтительности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-plagiata/317">О плагиате...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/4/470713f6f8054e6b0b38906553ae868dd6ff6071.png);
   background-size: contain; background-repeat: no-repeat;width: 36px;height: 36px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/dev">Разработка</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайте...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/c/internet/discourse">Вопросы по Discourse...</a></div>
</div></div>

</div>

<h2 class="t2">Популярные вопросы</h2>

<div class="helps">

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/e/e3e66702250fc569b0e6f1c5b87c62cfb074b492.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/pochemu-moj-otvet-udalen-skryt/159">Почему мой ответ удален/скрыт?</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/7/7c0283a604b68434284207421932b602e01f95a7.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/formatirovanie-teksta/428">Форматирование текста...</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/2/277118ad2e19052228eb9c9efef36d7ed8a71f70.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kak-priglasit-druzej-na-resurs-toxu/371">Как пригласить друзей?</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/b/bd7712591784f6446660d6a4fd836c50c8b853c6.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-otvet-wiki-i-vopros-wiki-na-toxu-ru-green-book/814">«Wiki» ответ и вопросы...</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/5/5b3f7e891e3d86f6c46cd5077c9315dd50577a0f.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/7/7aa689eb4ef48fd86c949d5f6b9625446a4d96b4.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/toxu">Почему сайт назван Toxu?</a></div>



<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/5/5b15ecbd860f030873e17a615dec9ea60103ce8d.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/vojna-pravok-na-toxu/1281">Что такое Война правок?</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/7/71afbeef7b8d3fc1333f6de07d25d456a9209f7a.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/dlya-chego-ya-mogu-ispolzovat-toxu/1326">Для чего сайт Toxu?</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(https://toxu.ru/uploads/default/original/2X/3/33d2cd07c2a3f2ff6282c7f2ee21d68503bb4fa0.png);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-kontenta-18/1532">А что с 18+?</a></div>

</div>

<div class="help-g">

<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/tags">
<div class="help-box-heading">
<i class="fa fa-tags" aria-hidden="true"></i>
<h3>Теги</h3>
</div><div class="help-description">Подписывайтесь и читайте</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank"  href="https://toxu.ru/groups">
<div class="help-box-heading">
<i class="fa fa-users" aria-hidden="true"></i>
<h3>Группы</h3>
</div><div class="help-description">Вступайте в группы по интересам</div></a>
</div></div>

<div class="help-box">
<div class="help-box-inner">
<a target="_blank" href="https://toxu.ru/c/toxu/blog">
<div class="help-box-heading">
<i class="fa fa-pencil" aria-hidden="true"></i>
<h3>Блоги</h3>
</div><div class="help-description">Пишите, делитесь знаниями</div></a>
</div></div>


</div>


<h3 class="t3">Помощь сайту</h3> 

<br>

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.<br>
Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>

Разработка....:</div>
<center>
<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</center>



 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
