<style type="text/css">
   .toxu {padding: 20px;color: #333; font-size: 15px;}
   .toxo-owl {float:left;margin: 4px 20px 2px 0px;width:220px;border:1px solid #CCC;padding:6px;}
   h2.t1 {color: #555;margin-top: 15px;}
   h3.t2 {color: #555;margin-top: 15px;}
 </style>

<div class="telo">

<h1 style="text-align:center; font-size: 2.0em;">Помощь по сайту «Toxu.ru»</h1>
<br>

В стадии разработки...

<br><br>
</div>

 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
