<style type="text/css">
body.docked {background-color: #FFFFFF;}
.toxu {padding: 20px;color: #333; font-size: 15px;}
h1.t1 {color: #333;text-align:center; font-size: 2.0em;}
h2.t2 {color: #555;text-align:center; font-size: 2.0em;}
h3.t3 {color: #555;text-align: center;font-size: 1.7em;}

.helps { margin: 5em auto; text-align: left; -moz-column-count: 3;column-count: 3;}
.helps__item {width: 100%;vertical-align: top;text-align: left;margin-bottom: 2em;}
.helps__item-left { vertical-align: top; margin-right: 1.5em; width: 60px; text-align: right; padding-top: 1.2em;display: inline-block;}
.helps__item-right {padding-top: 1.2em;width: calc(100% - 86px);display: inline-block;}
a.helps__item-link {color: #000; font-size: 1.1em; display: table; margin-bottom: 1em;}
a.helps__item-link:hover {color: #e45735;}
.helps__item-link_title_yes {margin-bottom: 1em;font-size: 1.5em; color: #04b;font-weight: 500;display: table;}
.helps__item-link_title_yes:hover {color: #e45735;}
a.serv__link  {color: #000; margin-bottom: 1em;}
a.serv__link:hover {color: #e45735;}
.serv__item { margin-bottom: 28px;text-align: left;font-size: 15px;}
.serv__img {display: inline-block;margin-right: 16px;margin-left: 54px;vertical-align: middle;}
 </style>

<div class="telo">

<h1 class="t1">Помощь по сайту Toxu</h1>

<div class="helps">

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/a/a9576005f98c4d9f8e50a03cd83693458c0effd9.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/c/toxu/regulations">Правила</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/poleznye-i-bespoleznye-otvety/202">О полезности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/chto-takoe-byt-pochtitelnym/260">О почтительности...</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kakova-politika-toxu-v-otnoshenii-plagiata/317">О плагиате...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/9/9aa20e64fc545a7cc1ed1b50ec50c7cca4e602ea.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="https://toxu.ru/faq">Вопросы</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/gruppy-polzovatelej/296">Что такое группы?</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/kto-takoj-toxbot/1215">Кто такой ToxBot?</a>
<a class="helps__item-link" tabindex="0" target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">Уровни доверия...</a></div>
</div></div>

<div class="helps__item"><div class="helps__item-left">
<div class="s-service-icon" style="
   background-image: url(https://toxu.ru/uploads/default/original/2X/9/9d57d20e557c1f70db012cdf8149f0a90bf37fb0.png);
   background-size: contain; background-repeat: no-repeat;width: 50px;height: 50px;">
</div></div>
<div class="helps__item-right">
<a class="helps__item-link_title_yes" tabindex="0" target="_blank" href="">ываываыв</a><div class="helps__links">
<a class="helps__item-link" tabindex="0" target="_blank" href="">ТЕстыва ыва ыва </a>
<a class="helps__item-link" tabindex="0" target="_blank" href="">ыв аыва ыва ыва</a>
<a class="helps__item-link" tabindex="0" target="_blank" href=""> ыва ываы ваы ва ыва</a></div>
</div></div>

</div>

<h2 class="t2">Разное</h2>

<div class="helps">

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>


<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>
				
<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>

<div class="serv__item">
<div class="serv__img" style="
 background-image: url(//yastatic.net/iconostasis/_/yrnXc0TafkMtLn2W7JSKUwrDYx8.ico);
 background-size: contain;background-repeat: no-repeat; width: 16px;height: 16px;"></div>
<a class="serv__link" tabindex="0" target="_blank" href="">Sdfsdfsdfsdf</a></div>


</div>

<h3 class="t3">Помощь сайту</h3>

Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.<br>
Получить ссылку можно на <a href="https://toxu.ru/dev">этой странице</a>.<br><br>

Вы так же можете помочь проекту деньгами:<br><br>

<iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=Toxu.ru&targets-hint=&default-sum=&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&comment=on&hint=&successURL=https%3A%2F%2Ftoxu.ru%2Fhelp&quickpay=shop&account=4100140143763" width="450" height="278" frameborder="0" allowtransparency="true" scrolling="no"></iframe>

<br><br>
</div>

 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
