{{#if siteSettings.sidebar_enable}}
  <div class="sidebar">
  
{{#if src}}
  <div class="cat-info">
    {{{catTxt}}}
  </div>
{{/if}}
  
    {{mount-widget widget="sidebar-items"}}
  
  </div>
{{/if}}
