{{#if siteSettings.sidebar_enable}}
<div class="sidebar">
   
  {{#if src}}

      <div class="cat-info">
      {{{catTxt}}}
      </div>

  {{else}}    

      {{mount-widget widget="profile-t"}}
      {{mount-widget widget="sidebar-items"}}
      
  {{/if}}




</div>
{{/if}}
