<div class="sidebar-qa-one">
<h3 class="sidebar-sug">Похожие вопросы</h3>
{{basic-topic-list-sug topics=topic.suggestedTopics}}
</div>
<div class="sidebar-qa">
<h3 class="sidebar-sug">Похожие вопросы</h3>
{{basic-topic-list-sug topics=topic.suggestedTopics}}
</div>
