    <div id="sticky" class="sticky-element">
    <div class="sticky-anchor"></div>
    <div class="sticky-content">
<h3 class="sidebar-sug">Похожие вопросы</h3>
{{basic-topic-list-sug topics=topic.suggestedTopics}}
    </div>
  </div>
