<h1 class="t1">Что означает название сайта «Toxu»?</h1>

<span style="color: #7a98a9;">«Toxu» (Тоха) - это кличка энергичной и умной совы, которая вот уже около года живет в нашем офисе.</span>
<br><br>

<img src="https://toxu.ru/uploads/default/optimized/2X/c/c1ad1474e5c529bca00df7193acd8e7aebd733a5_1_375x500.jpg" alt="Кличка совы: toxu " class="toxo-owl">

<i>Toxu </i> - это милое, доброе, любопытное создание, которое и днем и ночью постоянно наблюдает, что же мы делаем, активно пытается участвовать в жизни офиса, бывает и шалит, но неизменно дарит нам хорошее настроение.<br><br>

<i>- Когда же Тоха спит?</i> - спрашивал я.<br>
<i>- Да кто её знает. Ни разу не видели её спящей,</i> - говорят мне сотрудники. 

<br><br>

Ведет себя <i>Toxu</i> очень спокойно - больше наблюдает. Лишь один раз, когда мы громко включили телевизор, <i>Toxu</i> забеспокоилась - телевизионные новости пришлись нашей сове не по вкусу.
<br><br>
И когда возник вопрос, кого же выбрать символом сайта, мы единогласно выбрали сову.   <br><br>
   
<i>Сова – это свобода в передвижении.<br>
Сова – это символ мудрости, упорство и настойчивость в достижении цели.<br>
Сова - это разнообразие в природе и жизни.</i>
<br> <br> 


Вот такое мудрое и интересное существо это Toxu. Думает, смотрит, делает выводы.

<br> 
<h3 class="t3">А зачем вообще создавался сайт <i>Toxu</i>?</h3>  

Давайте выберем любой другой сайт ВиО в интернете и честно спросим себя, какая же основная цель того сайта, который мы видим. Это будет все что угодно: попытка заработать деньги, политическая составляющая, свободное чато-подобное общение. Но сайтов, которые созданы именно для обмена знаниями и опытом практически нет. А что может быть более важно? Что более важно для молодого поколения, для страны, для Планеты? <br><br>
Мы попробуем изменить ситуацию и создать ресурс, целью которого является обмен знаниями, опытом и объединение людей на фоне этой идеи. Думаем, что это достойная цель. <br><br>
<b>Присоединяйтесь сами и пожелайте нам удачи! </b><br>

<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
<p>Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</p>
</section>

<br>
