<style type="text/css">
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
h1.t1 {color: #555;margin-top: 15px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
body {background: #f9f9f9;}
.sidebar-menu {
    float: left;
    width: 225px;
    position: fixed;
    background: #f9f9f9;
    padding: 1px 11px 10px 17px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.telo {
    float: right;
    width: 69%;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 5px 20px 3px 20px;
}
.menu {
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
}
span.menu {
    color: #f56400;
}
img {max-width: 95%;}
.help-box {width: 99%;margin: 0 1% 1.5em 1%;}
.help-g {margin: 2em auto;text-align: left; -moz-column-count: 3;column-count: 3;}
.help-box-heading{text-align: center;}
.help-box-inner{width: 100%;padding: 0;border-width: 1px;border-style: solid;border-color: #e5e5e5;}
.help-box-heading i.fa {font-size: 22px;color: #444;text-align: center;margin-top: 0.4em;}
.help-box h3 {font-size: 1.3em;margin-bottom: 0.5em;margin-top: 0.25em;line-height: 1.1em;text-align: center;color: #444;}
.help-box-inner {text-align: center;}
.help-description{padding: 3px;text-align: center;color: #919191;}
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
hr.footer{margin: 21px 0 5px 0;}
.toxu-foot{    font-size: 13px;    color: #888;}
a.coop {    display: inline-block;    font-size: 13px;}
.footer_soc_toxu {margin-top: 10px;}
ul.nav-social {    margin: 0;    text-align: center;}
li.fa {    margin-right: 15px;}
li.fa a {color: #999;}
li.fa a:hover {color: #f56400;}
.toxu ul {list-style-type: none;}
.toxu ul li {
    background-image: url(https://toxu.ru/uploads/default/original/2X/7/747400ddaf4843f169c2d5f5cc35bb0134f89480.png);
    background-repeat: no-repeat;
    background-position: 0px 9px;
    padding-left: 15px;
}
html:not(.mobile-view) .search-header {margin-left: 134px;}
@media (max-width: 955px) { 
  .sidebar-menu, .no-mob, .search-header {display: none;} 
  .telo {width:94%;margin:0;} .toxu {font-size: 0.9em;}
}
</style>

<div class="help">
<div class="cont-stat">
<div class="sidebar-menu"><br>
<a class="menu" href="https://toxu.ru/help">Помощь</a>
<span class="menu">Возможности сайта</span>
<a class="menu" href="https://toxu.ru/toxu">Почему сайт назван Toxu?</a>
<a class="menu" href="https://toxu.ru/dev">Для разработчиков</a>
{{mount-widget widget="page-my-menu"}}

<div class="toxu-foot" style="font-size: 13px;color: #888;">
<hr class="footer">
<a href="" class="coop" style="display: inline-block;font-size: 13px;">© 2018 Toxu.ru</a> — обмен знаниями<br>
<noindex><div class="footer_soc_toxu" style="margin-top: 10px;"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i aria-hidden="true" class="fa fa-comment"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i aria-hidden="true" class="fa fa-telegram"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i aria-hidden="true" class="fa fa-vk"></i></a></li>
<li class="fa"><a rel="nofollow" title="rss" target="_blank" href="https://toxu.ru/latest.rss"><i aria-hidden="true" class="fa fa-rss-square"></i></a></li>
</ul></div></noindex></div>
<br><center><a class="cvet" href="https://toxu.ru/privacy">Политика конфидициальности</a></center>
</div>
<div class="telo toxu">

<h1 class="t1">Возможности сайта Toxu.ru</h1>

<b>Миссия Toxu</b> — делиться знаниями. Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели, путем создания лучшего сайта вопросов и ответов в сети.

<h3 class="t3">Мощная система публикаций</h3>
Разделы, теги, закладки, wiki сообщения, история правок, сохранение набранного материала...
<br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/5/592fd4152495a80a9bd69a68acc7415bc94b880c_1_681x500.jpg" alt="возможности toxu.ru">
<br><br>

Возможность использовать тайминг: планировать публикации/вопросы, создавать События с привязкой к месту и т.д. Скрывать, переносить, удалять и изменять время (поднимать вопросы). Многие возможности уже доступны с 3-4 уровня доверия…
<br><br>
<b>Посетитель → Пользователь → Участник → Постоялец → Лидер</b><br>
Можно почитать более подробно об уровнях доверия: <a target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">тут</a>.
<br><br>
Вы можете подписываться, приглашать, добавлять в избранное, закрывать и переназначать время для публикаций. Публиковать материалы в режиме wiki и т.д. Возможности при уровне доверия Постоялец и выше, воистину безграничны.
<br><br>
<section id="33331"  data-wow-duration="400ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInUp;">

<img width="90%" class="img"  src="https://toxu.ru/uploads/default/original/2X/3/3ab0eec5c8810a407f1d3e3b40354d9a63c9e49e.jpg" alt="toxu-ru">
</section>
<br>
<img src="https://toxu.ru/uploads/default/original/2X/6/6a393fc792e3622e095cab3e58ff08c4c857ae8a.jpg" alt="Таймер, меню для вопросов">

<br><br>Сортировка вопросов по количеству: ответов, просмотров и времени публикации<br><br>

<img width="90%" class="img" src="https://toxu.ru/uploads/default/original/2X/7/7b83b6719fb3eb40b712cb92643dc5f2b9457584.gif" alt="Сортировка-вопросов">
<br><br>

Возможно выбирать, куда мы переходим в вопросе.
<br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/original/2X/3/30da7450a347549f85f240662544a2970f37e387.gif" alt="Сортировка">
<br><br>
Если нажать на сам вопрос, то переход будет осуществлен на то место, на котором вы закончили чтение. Если ответы на вопросы вы не читали, то переход будет на начало публикации. Если нажать на количество ответов, то можно выбрать переход на самый первый ответ и на самый последний.
<br><br>
После авторизации вы можете выбрать свою персональную центральную страницу или свой вариант дизайна.
<br><br>
Это может быть или <b>Последние вопросы</b>.<br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/f/fc9d9a31ec870a207395c889690bb54a2b31adda_1_690x347.gif" alt="Последние">
<br><br>Или <b>Разделы</b><br><br>

<img width="90%" class="img" src="https://toxu.ru/uploads/default/original/2X/2/2c1a9d268d50a3c02e9770b57e49a6ee0094d5bd.gif" alt="Разделы-сайта-Toxu">
<br><br>
Или <i>Новые вопросы, Toп. вопросов... </i>
<br><br>
И конечно, нельзя не сказать про нашего <b>ToxBot</b> (бота)<br><br>
Именно он поддерживает порядок на этом сайте, проводит экскурсии и т.д.
<br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/1/1f97b25a5b53277b72c8df7e9875d6b61da59931_1_690x290.jpg">

<br>
Тут можно <a target="_blank" href="https://toxu.ru/t/kto-takoj-toxbot/1215">почитать о нем более подробнее.</a>
<br><br>
<br><b>Хотите принять участие в создании проекта?</b><br>
Включайтесь в обсуждения, обсуждайте, предлагайте и критикуйте. И вы обязательно будете замечены.

<p><strong>Куда мне писать о своих предложения по этому сайту? Есть идеи для сайта…</strong><br>
Для этого существует отдельный раздел: <a  target="_blank"  href="https://toxu.ru/c/toxu"><strong>Toxu</strong></a><br>
И вы можете написать личное сообщение официальному аккаунту Toxu</p>


<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
<p>Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</p>
</section>
</div></div></div>
