<style type="text/css">
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
img.img {border: 1px solid #e9e9e9;
margin-top: 15px;
margin-bottom: 15px;
box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
.menu {margin-bottom:10px;font-size: 16px;display: block;}
@media (max-width: 800px) { 
  .bottom_footer, .sidebar-menu {display: none;} 
  .telo {width:96%;margin-left:10px;}
}
</style>
<div class="help">
<div class="sidebar-menu"><br>
<a class="menu" href="help">Помощь</a>
<span class="menu">Возможности сайта</span>
<a class="menu" href="toxu">Почему сайт назван Toxu?</a>
<a class="menu" href="dev">Для разработчиков</a>

</div>
<div class="telo toxu">

<h1 class="t1">Возможности сайта Toxu.ru</h1>

<b>Миссия Toxu</b> — делиться знаниями. Мы очень тщательно относимся к качеству вопросов и ответов. И стремимся к достижению этой цели, путем создания лучшего сайта вопросов и ответов в сети.

<h3 class="t3">Мощная система публикаций</h3>
Разделы, теги, закладки, wiki сообщения, история правок, сохранение набранного материала...
<br><br>
<section data-wow-duration="400ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInUp;">
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/5/592fd4152495a80a9bd69a68acc7415bc94b880c_1_681x500.jpg" alt="возможности toxu.ru">
</section>
<br><br>

Возможность использовать тайминг: планировать публикации/вопросы, создавать События с привязкой к месту и т.д. Скрывать, переносить, удалять и изменять время (поднимать вопросы). Многие возможности уже доступны с 3-4 уровня доверия…
<br><br>
<b>Посетитель → Новичок → Участник → Постоялец → Лидер</b><br>
Можно почитать более подробно об уровнях доверия: <a target="_blank" href="https://toxu.ru/t/uroven-doveriya-na-sajte-toxu-ru/61">тут</a>.
<br><br>
Вы можете подписываться, приглашать, добавлять в избранное, закрывать и переназначать время для публикаций. Публиковать материалы в режиме wiki и т.д. Возможности при уровне доверия Постоялец и выше, воистину безграничны.
<br><br>
<img width="90%" class="img"  src="https://toxu.ru/uploads/default/optimized/2X/0/0cb4580c183a1da8bec4e4ad3290e85a3f70c524_1_690x278.jpg" alt="toxu-ru">
<br><section data-wow-duration="400ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInUp;">
<img src="https://toxu.ru/uploads/default/original/2X/6/6a393fc792e3622e095cab3e58ff08c4c857ae8a.jpg" alt="Таймер, меню для вопросов">
</section>

<br><br>Сортировка вопросов по количеству: ответов, просмотров и времени публикации<br><br>

<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/7/7f9043c39753c01bf2bb8225c509fb22bc6102aa_1_690x66.gif" alt="Сортировка-вопросов">
<br><br>

Возможно выбирать, куда мы переходим в вопросе.
<br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/6/62075c27870a627e0c6b9ccde417d9aae7d208df_1_690x132.gif" alt="Сортировка">
<br><br>
Если нажать на сам вопрос, то переход будет осуществлен на то место, на котором вы закончили чтение. Если ответы на вопросы вы не читали, то переход будет на начало публикации. Если нажать на количество ответов, то можно выбрать переход на самый первый ответ и на самый последний.
<br><br>
После авторизации вы можете выбрать свою персональную центральную страницу или свой вариант дизайна.
<br><br>
Это может быть или <b>Последние вопросы</b>.<br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/d/dc67b61110435c7fb101ff7b4033f2d485ba66f6_1_690x497.gif" alt="Последние">
<br><br>Или <b>Категории</b><br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/7/7b6d63c38211fbd4ff0afdd0a3fac82b34b6360a_1_690x481.jpg" alt="Разделы-сайта-Toxu">
<br><br>
Или <i>Новые вопросы, Toп. вопросов... </i>
<br><br>
И конечно, нельзя не сказать про нашего <b>ToxBot</b> (бота)<br><br>
Именно он поддерживает порядок на этом сайте, проводит экскурсии и т.д.
<br><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/2/2e9a74a0cbf2ab7b6a20ccdf4da261df3f26502c_1_690x285.jpg">
<br>
Тут можно <a target="_blank" href="https://toxu.ru/t/kto-takoj-toxbot/1215">почитать о нем более подробнее.</a>
<br><br>
<br><b>Хотите принять участие в создании проекта?</b><br>
Включайтесь в обсуждения, обсуждайте, предлагайте и критикуйте. И вы обязательно будете замечены.

<p><strong>Куда мне писать о своих предложения по этому сайту? Есть идеи для сайта…</strong><br>
Для этого существует отдельный раздел: <a  target="_blank"  href="https://toxu.ru/c/toxu"><strong>Toxu</strong></a><br>
И вы можете написать личное сообщение официальному аккаунту Toxu</p>


<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
<p>Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</p>
</section>
</div></div>

<div class="bottom_footer wrap" style="clear:both;"><div class="f-copyright">
<a title="Toxu сова" href="https://toxu.ru/toxu">
<img border="0" alt="Сова Toxu" src="https://toxu.ru/uploads/default/original/2X/2/2151b0ee8e1a16da9e857e51de54fe4d42e0cd8a.jpg" width="30"></a>
<p class="copyright">Copyright © 2018  <a title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
<small> <a href="https://toxu.ru/t/voprosy-k-administraczii-sajta/2016">Обратная связь</a> с администрацией сайта.</small>
</p></div>
<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="rss" target="_blank" href="https://toxu.ru/latest.rss"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
</ul></div></noindex></div>
<script type="text/javascript" src="http://toxu.blog/js/wow.min.js"></script>
