<style type="text/css">
.toxu {color: #333;font-weight: 300; font-size: 16px;font-family: "Exo 2",Arial,Helvetica,sans-serif;line-height: 24px;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}
@media (max-width: 800px) { 
  .sidebar-menu {display: none;} 
  .telo {width:96%;margin-left:10px;}
}
</style>
<div class="telo toxu">
<h1 class="t1">Шахматы</h1>

<span style="color: #7a98a9;">Сыграй и выйграй в шахматы у Toxu!</span>
<br><br>
<center>
<iframe src="https://tropasveta.ru/dev/chess/index.html" style="width:800px; height:750px;" frameborder="0"></iframe>
</center>

</div>

<footer class="footer-toxu"><div class="footer_column">
<div class="one"><a title="Теги" rel="nofollow" href="https://toxu.ru/tags">Теги</a> 
<a class="links" title="Группы" rel="nofollow" href="https://toxu.ru/groups">Группы</a> 
<a class="links" title="О нас" href="https://toxu.ru/about">О нас</a> 
<a class="links" title="Обратная связь" href="https://toxu.ru/t/voprosy-k-administraczii-sajta/2016">Обратная связь</a> 
<a class="links" title="Правила" href="https://toxu.ru/c/toxu/regulations">Правила</a>
<a class="links" title="Помощь" href="https://toxu.ru/help">Помощь</a></div>
<div class="too">© 2017–2018 <a href="https://toxu.ru">«Toxu» – обмен знаниями и опытом</a></div>
</div></footer>
