<style type="text/css">
.toxu {color: #333;font-weight: 300;font-size: 16px;font-family: "Exo 2",Arial,Helvetica,sans-serif;line-height: 24px;}
b, strong { font-weight: 500;}
</style>

<iframe src="https://tropasveta.ru/dev/chess/index.html" style="width:800px; height:800px;" frameborder="0"></iframe>

<hr>
    <footer id='noscript-footer'>
        <p><i>Поздравляем! Вы можете попробовать сыграть с нашим алгоритмом.</i> </p>
      </footer>
<br> 
