<style type="text/css">
.toxu {color: #333;font-weight: 300; font-size: 16px;font-family: "Exo 2",Arial,Helvetica,sans-serif;line-height: 24px;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}
@media (max-width: 800px) { 
  .bottom_footer, .sidebar-menu {display: none;} 
  .telo {width:96%;margin-left:10px;}
}
</style>

<h1 class="t1">Шахматы</h1>

<span style="color: #7a98a9;">Сыграй и выйграй в шахматы у Toxu!</span>
<br><br>
<center>
<iframe src="https://tropasveta.ru/dev/chess/index.html" style="width:800px; height:750px;" frameborder="0"></iframe>
</center>

