.stats .id{font-family: 'PT Sans', Verdana, Arial, "Liberation Sans", sans-serif;font-size: 13px;}
.cooked p img, .lightbox-wrapper img {border: 1px solid #e9e9e9;}
.cooked p img.emoji{border: none;}
.topic-body .contents .cooked {
    font-size: 15px; font-family: 'PT Sans', Verdana, Arial, "Liberation Sans", sans-serif;
    line-height: 1.6;
}
.spinner {
    height: 35px;
    width: 35px;
    border: none;
    box-shadow: inset 0 1px 1px #f56400;
}

/*юзербар*/
.wrapper-stats {
 width: 500px;
 padding-top: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
}


/*comment and */
.regular.contents a[rel~="nofollow"]::after {
    display: inline-block;
    content: ' \f08e ';
    font-family: FontAwesome;
    color: #999;
    font-size: 11px;
    margin-left: 3px;
}
button.reply .fa-mail-reply:before, button.reply .fa-reply:before {
   content: "\f075" !important;
}
/* WIKI */
.widget-button.edit.create {color: #339900;}
.topic-list th {
    border-bottom: 1px solid #eee;
    padding: 6px 0px;
    font-size: 12px;
}
a.mention, a.mention-group {
    color: #39739d;
    background: #E1ECF4;
    font-weight: normal;
} 
.discourse-tag.box.bar:hover {
    background-color: #eee;
}
.user-profile.widget-container {
    color: #888;
}

a.blogt {
    float: right;
    margin-right: 7px; 
    margin-bottom: 10px;
    width: 40px; 
     position: fixed;
    right: 0; bottom: 0; 
}

.category-heading p {
    font-size: 1.2em;
color: #444;
background-color: #eff5fa;
border-color: transparent;
padding: .2em .3em;
}

body.category-other2 #create-topic, .cat-link.category-other2, .category-link.category-other2 {display: none;} 
.user-activity-bottom-outlet i.glyph {display: none;} 

/*скрыть админа*/
section.about.admins {display: none;}
section.about.about.moderators{padding-top: 10px;}

.cat-link.category-toxu a.badge-wrapper.bullet span.badge-category.clear-badge {display: inline-block;}
.cat-link.category-toxu a.badge-wrapper.bullet span.badge-category.clear-badge:first-letter {color:#f56400;}

.category-toxu-blog .topic-list .views {width: 105px;display: block;}
.category-toxu-blog .topic-list .posts.sortable.num, .category-toxu-blog .topic-list .num.posts-map.posts, .zadal {display: none;}
.category-toxu-blog #suggested-topics, .category-toxu-blog .topic-avatar, 
.category-toxu-blog .timeline-container, .category-toxu-blog .user-signature, .category-toxu-blog .post-info {display: none;}
.category-toxu-blog .names span a { font-size: 15px;color: #f56400;}
.category-toxu-blog .names {text-align:center;display:block;float: none;}
.category-toxu-blog .topic-status-info {max-width: 99%;}
.category-toxu-blog h2 {text-align: center;}
.category-toxu-blog .lightbox-wrapper {text-align:center;display:block;}
.category-toxu-blog .cooked img  {display:block; margin:0 auto;}
.category-toxu-blog #topic-title .title-wrapper {margin: 0 10% 0 10%;width: 80%;}
.category-toxu-blog .topic-timeline {display: none;}
.category-toxu-blog #topic-title {text-align: center; }
.category-toxu-blog #topic-title .title-wrapper .badge-wrapper {float: inherit;}

@media(min-width: 1120px) { .category-toxu-blog  .topic-body {margin: 0 10% 0 10%;width: 80%;}}

.category-other .cat-link.category-other, .category-psychology .cat-link.category-psychology, 
.category-internet .cat-link.category-internet, .category-occultism .cat-link.category-internet,
.category-health .cat-link.category-health, .category-society .cat-link.category-society,
.category-culture .cat-link.category-culture, .category-science .cat-link.category-science,
.category-business .cat-link.category-business, .category-work .cat-link.category-work,
.category-travel .cat-link.category-travel, .category-animals-plants .cat-link.category-animals-plants,
.category-house .cat-link.category-house, .category-automobiles .cat-link.category-automobiles,
.category-sport .cat-link.category-sport, .category-entertainment .cat-link.category-entertainment,
.category-Interesting .cat-link.category-Interesting, .category-communication .cat-link.category-communication
{  border-left: 2px solid #f56400} 

.category-other  .cat-link.category-other .badge-category, .category-psychology .cat-link.category-psychology .badge-category, 
.category-internet .cat-link.category-internet .badge-category, .category-occultism .cat-link.category-internet .badge-category,
.category-health .cat-link.category-health .badge-category, .category-society .cat-link.category-society .badge-category,
.category-culture .cat-link.category-culture .badge-category, .category-science .cat-link.category-science .badge-category,
.category-business .cat-link.category-business .badge-category, .category-work .cat-link.category-work .badge-category,
.category-travel .cat-link.category-travel .badge-category, .category-animals-plants .cat-link.category-animals-plants .badge-category,
.category-house .cat-link.category-house .badge-category, .category-automobiles .cat-link.category-automobiles .badge-category,
.category-sport .cat-link.category-sport .badge-category, .category-entertainment .cat-link.category-entertainment .badge-category,
.category-Interesting .cat-link.category-Interesting .badge-category, .category-communication .cat-link.category-communication .badge-category
{margin-left: 5px;}

/*стрелка вниз*/
a.icon{width: 48px;}
#current-user a.icon:before {content: "▽";float: right;font-weight: bold; margin-top: 8px; font-size:10px;}
/*выделение закрытых категорий*/
.category-test .main-link.clearfix .telohome .title-t a.title:before, 
.category-moder .main-link.clearfix .telohome .title-t a.title:before, 
.category-test #topic-title h1:before,
.category-moder #topic-title h1:before {
 content: "Ⓐ";  font-size:12px;
 margin-right: 4px;
color: #f56400;
}
body.navigation-topics ol.category-breadcrumb {display: none; }
html:not(.mobile-view) a.nastr.sm{font-size:11px;}
body[class*="navigation-categories"] #main-outlet .container.list-container.has-sidebar {
    width: 100%;
    float: left;
}

p.obyav {width: 67%;}

/* добавить, вкладка,лого и подсветка авы */
#create-topic {background: transparent;color: #f56400;}
#create-topic:hover, #create-topic:active {color: #fff;background-color: #f56400;}
img.avatar:hover, .d-header #site-logo:hover {opacity: 0.8;}

.groups-d {
    max-width: 800px;
    margin-bottom: 25px;
}
a.facebook, a.vk, a.twitter, a.discord, a.telegram, a.livejournal, a.ok  { color: #777;margin-right: 15px;}
a.facebook:hover, a.vk:hover, a.twitter:hover, a.telegram:hover, a.discord:hover, a.livejournal:hover, a.ok:hover { color: #f56400}
.soc{font-size: 12px;}

.fa-flag:before {
    content: "\f071" !important;
}
.actions .fa-link:before, .share .fa-link:before {
    content: "\f09e" !important;
}

/* tags */
.discourse-tag.bullet::before {content: "\f02b";font-size: 0.9em;color: #bdbdbd;top: 0.1em;margin-right: 4px;}
a.discourse-tag.bullet::before:hover {color: #f56400; }
a.discourse-tag.bullet:hover {color: #f56400;}
a.discourse-tag.bullet {color: #bdbdbd;}

.category-communication .extra-info-wrapper .topic-link {color: #fff;}
.category-communication .extra-info-wrapper .discourse-tag {color: #fff !important;}

.category-communication .d-header .icons .icon {color: #fff;}
.category-communication .d-header.clearfix .wrap .contents  {background-color: #179cee;}

.sidebar .badge-wrapper.bullet .badge-category-bg, .cat-link.category-other2 {display: none;}
.sidebar .badge-wrapper.bullet span.badge-category {color: #333 !important;font-size: 1.12em;}
.sidebar .badge-wrapper.bullet span.badge-category:hover {color: #f56400 !important;}

.topic-list > tbody > tr:first-of-type {
    border-top: 1px solid #eee;
}
.nav-pills>li.active>a, .nav-pills>li>a.active {color: #999;font-weight: 500;background-color: #fff;border-bottom: 3px solid #f56400;}
.nav-pills > li > a:hover{color: #999;  background-color: #fff;  border-bottom: 3px solid #f56400;} 

.sidebar .category-communication .badge-wrapper.bullet span.badge-category {
    color: #339900 !important;
}
.sidebar .category-communication .badge-wrapper.bullet span.badge-category i.fa-lock {display: none;}

.badge-notification.new-posts, .badge-notification.unread-posts {background-color: #f56400;}
.badge-notification.new-topic {color: #f56400;}

.topic-post.comment img.avatar { width: 20px; height: 20px;}
.topic-post.comment a.reply-to-tab img.avatar {display: none;}
.topic-post.comment .topic-avatar { padding-top: 10px;}
.topic-post.comment .topic-avatar { width: 20px;}
.topic-post.comment { margin-left: 63px;}
.topic-post.comment .topic-body .regular {margin-top: 1px;margin-left: -29px;}
.topic-post.comment .names span.full-name {display: none;}
.topic-post.comment .topic-body .contents .cooked {
    font-size: 13px;
    border-left: 3px solid #e9e9e9;
    padding-left: 13px;
}
.topic-post.comment .topic-body .contents .cooked p {margin-bottom: 1px;}
.private_message  .topic-post.comment .row .topic-body.clearfix  { max-width: 747px;}
.topic-post.comment .topic-body { max-width: 747px;}
.topic-post.comment .user-signature, .topic-post.comment .avatar-flair, .topic-post.comment button.share, .topic-post.comment .bookmarked, .topic-post.comment .unaccepted, .topic-post.comment .bookmark { display: none;}
.topic-post.comment .names span.full-name {display: none;}


a.topic-featured-link {
    color: #339900;
}
.category-communication .d-header.clearfix { background-color: #179cee;}
.cat-link .topics-count  {
    float: right;
    font-weight: normal;
    font-size: 12px;
    color: #888;
    margin-top: 2px;
}


.user-signature {
    position: relative;
    margin-bottom: 2px;
    color: #777;
    font-size: 0.929em;
}
.category-communication img#site-logo.logo-big
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://toxu.ru/uploads/default/original/2X/9/94776468b97fa13a02683f82db60f73c38f7149e.png) no-repeat;
  background-size: 150px 40px;
  width: 150px; /* Width of new image */
  height: 40px; /* Height of new image */
  padding-left: 150px; /* Equal to width of new image */    
}

.category-communication img#site-logo.logo-small {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 8px;
    background: url(https://toxu.ru/uploads/default/original/2X/d/dc081015bfa39c2411139a1f774751bb8b99f8a5.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.user-messages-page img#site-logo.logo-big
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://toxu.ru/uploads/default/original/2X/d/dbe088d3c0fed6706404f90881e6446c88aef75a.png) no-repeat;
  background-size: 150px 40px;
  width: 150px; 
  height: 40px; 
  padding-left: 150px;   
}

.archetype-private_message img#site-logo.logo-big
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://toxu.ru/uploads/default/original/2X/d/dbe088d3c0fed6706404f90881e6446c88aef75a.png) no-repeat;
  background-size: 150px 40px;
  width: 150px; 
  height: 40px;
  padding-left: 150px;    
}

.archetype-private_message img#site-logo.logo-small {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 8px;
    background: url(https://toxu.ru/uploads/default/original/2X/d/df3d3c3cd2994ae6095fe994b39c1a3838233df7.png) no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

.cat-link .category-communication .wrap .contents.clearfix {
 background-color: #179cee; }

span.badge-category-bg {
    border: 1px solid white;
}

.category-communication .wrap {background: none;}

.category-communication .extra-info-wrapper .badge-wrapper.bullet span.badge-category
{
    color : #fff !important;
}
/*end*/

/* PM и комментировать */

nav.post-controls button.reply.create:after {   content: " Комментировать";}
nav.post-controls button.reply.create span.d-button-label {display: none;}
.archetype-private_message .topic-post button.reply.create:after  {content: "Комментировать приватно";}
.archetype-private_message .private-message-map h3:after { content: " (приватно)";} 
.archetype-private_message button.reply.create span.d-button-label {display: none;}
.archetype-private_message button.reply.create:after { content: " Ответить приватно";} 
.archetype-private_message #topic-footer-buttons button.create,
.archetype-private_message #reply-control .btn-primary {color: white; background-color: #306f30}
.archetype-private_message .topic-body {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: #fff;
    margin-top: 10px; border-left: 9px solid #f0fff0;
    padding-left: 20px;
    border-radius: 2px;
    padding-right: 20px; margin-left: 20px;
}
.archetype-private_message .topic-avatar {border-top: none;}
/* /PM */

li.extra-nav-item-outlet.votes {display: none;}

@media(min-width: 1120px) { 
.topic-body {width: 790px;padding: 12px 11px 1px 11px;}
.wrap {max-width: 1200px;} 
.timeline-container {margin-left: 1000px;}
}

body .text-label #ember1140.ember-text-field.ember-view{width: 430px;}

@media(max-width:900px) {
.sidebar{display: none;}
.topic-list .views {display: none;}
.topic-list .likes {display: none;}
.topic-list .votes {display: none;}
  
.cat{display: none;} .num.likes{display: none;} .topic-list .views {display: none;}
.topic-list a.title {font-size: 16px;}   
.topic-list a.title.visited:not(.badge-notification){font-size: 16px;}  
}

@media(max-width:720px){ .avahome {display: none;} 
.contents.ember-view .topic-list .creator {margin-left: 1px;}
#suggested-topics  .topic-list .creator {margin-left: 1px;}
}
@media(max-width:620px){ 
#list-area .discourse-tag.box, #list-area .discourse-tags {display: none;}
.share2, .topic-meta-data span.user-title, .topic-meta-data .user-signature {display: none;}
}


summary:first-of-type {color: #08c;}
nav.post-controls button.edit.create {color: green !important;}

body[class*="navigation-categories"] .sidebar {display: none;visibility: hidden;}
body[class*="navigation-categories"] .list-container.has-sidebar {float: none;width: 100%;}

html:not(.mobile-view) {	
    
.footer_social_nav ul {
 list-style:none;
 padding:0;
 margin:0
}
.bottom_footer {
 border-top:1px solid #E0E4E7;
 font-size:14px;
 margin-top:15px;
 color:#888
}
.footer_social_nav ul li+li {
 margin-left:20px
}
.footer_social_nav ul li {
 float:left;
 position:relative
}
.footer_social_nav {
 float:right;
 padding:13px 2px 0 0
}
.footer-copyright {
 float:left;
}
.footer_social_nav ul li a {
 color:#888;
}
.footer_social_nav ul li a:hover {
 color:#f56400;
}
  
/*польз. меню*/
sup.pr-views {color:#7a98a9;}
.col0 {color:#45A163;}
.col1 {color:#335599;}
.col2 {color:#4dc1c0;}
.col3 {color:#f38844;}
.col4 {color:#d768c4;} 
li.menu { margin-left: -9px;color: #808281; } 
li.menu.ots { margin-top: 5px; } 
ul.menu { margin-top: 5px; } 
li.menu .numer {float: right;color: #666;font-size: 12px;}
.vid {color: #666;}
	
.discourse-tag.box.bar:hover {color: #f56400;}
	
a.nastr {
 float:right;
 display:block;
 font-size:13px; 
 margin-top: 4px;
 color: #666;
 opacity:0.5;
}
a.nastr:hover {
 color: #f56400;
 opacity:1;
}
a.menu-prof.menu {
  margin-top: 3px;
  font-size: 13px;
  color: #7a98a9 !important;
}
a.menu-prof.menu:hover {
  color: #f56400 !important;
}

a.menu-profile:hover {
  color: #f56400 !important;
}
a.menu-profile { 
display: inline-block; 
color: #222;
margin: 3px 1px 7px 0;
}
a.menu-profile:first-letter {
color: #f56400; 
}
.dov{
margin: 4px 10px 3px 5px;
float: right;
text-align: center;
max-width: 125px;
}
.col0 {color:#45A163;}
.col1 {color:#335599;}
.col2 {color:#4dc1c0;}
.col3 {color:#f38844;}
.col4 {color:#d768c4;}  

.sidebar-menu li {
color: #666;
margin-left: 14px;
}
    
/*.topic-status-info {
    max-width: 840px;
}
.small-action {
    max-width: 840px;
}*/
.post-menu-area {
    margin-bottom: 1px;
    margin-top: 5px;
}
a.tag-sid {
  font-weight: normal;
  color: #39739d !important;
  background-color: #E1ECF4;
  padding: 2px 8px;
  }
  
a.tag-sid:hover {
  background-color: #cee0ed;
  }  
 
div.test a.cat {
    color: #08e !important; 
}
div.staff a.cat {
    color: #08e !important;
}
.cat-link .badge-notification[href] {
    float: right; margin-top: 1px;
}    
 @media(min-width:980px) {
  
  .has-sidebar + .sidebar {
    width: 17%;
    float: left;
    min-height: 100px;
   }

  .list-container.has-sidebar {
    width: 81%;
    float: right;
   }
   
  h3.sidebar-heading {
   color: #888;
   font-size: 13px;
   margin-bottom: 12px;
   font-weight: normal;
   text-transform: uppercase;
   }
     
.cat-link .badge-wrapper {
    font-weight: normal;
} 
.cat-link {
    margin-bottom: 4px;
}  
.cat-link.category-toxu {
    margin-top: 14px;
}     


}
}
