html {font-family: "Open Sans",Helvetica,Arial,sans-serif;}
.menu-panel.drop-down .panel-body .panel-body-contents, .sidebar-top, button, .topic-map{font-family: Helvetica,Arial,sans-serif;}
/* детальные страницы */
h1.user {color:#f56400;font-size: 4em;font-family: Georgia,Arial,sans-serif;}
h1.prof {color:#f56400;font-size: 3em;font-family: Georgia,Arial,sans-serif;}
h3.user {color: #666;font-weight: 300;font-size: 1.3em;}
hr.user {display: block;height: 1px;margin: 1em 0;width: 200px;border: 0;border-top-width: 0px;border-top-style:none;
	 border-top-color: currentcolor;border-top: 2px solid #999;padding: 0;}
.user-img{background: url(https://toxu.ru/uploads/default/original/2X/5/53da4f2f4eeb867362d7c7f9cd882495da075d28.jpg);height: 119px;width:70%;}
.prof-glog-blog {width: 500px;}
.prof-glog-blog-2 { }
.bord {border-bottom: 2px solid #f56400;max-width: 800px;padding-top:10px;}
.bord-2 {border-bottom: 1px solid #ddd;max-width: 600px;padding-top: 10px;}
.bord-3 {border-bottom: 1px solid #ddd;max-width: 800px;padding-top: 10px;}
.qa-cat{color: #919191;margin-top: -24px;margin-bottom: 12px;}
.new-str{ clear: both;}
.prof-blog {float: left;width: 33%;}
.prof-blog-2 {float: left;width: 19%;}
.prof-num {color: #f56400; text-align: center; font-size: 4em;font-family: Georgia,Arial,sans-serif;}
.prof-num-u {color: #f56400; text-align: center; font-size: 3em;font-family: Georgia,Arial,sans-serif;}
.prof-txt {text-align:center;font-size:1.4em;color:#666;font-family: Georgia,Arial,sans-serif;font-weight: 300;}

/* баннер */
#banner-content {
    background: url(https://toxu.ru/uploads/default/original/2X/4/40a369bb0fbe0b72d259b0dbb0ffcc525c283ad7.jpg);
    background-position-x: 0%;background-position-y: 0%;max-width: 1200px;background-position: center 17%;
    background-size: 100% auto;padding-bottom: 10px;text-align: center;border: 1px solid rgba(27,31,35,0.075);}
#banner-content h1 {font-weight: 700;color:#f56400;letter-spacing: 0;font-size: 34px;width: 60%;margin: 10px auto;line-height: 45px;}
#banner-content p {font-weight: 300;font-size: 16px;line-height: 150%;color: #667d99;width: 70%;margin: 10px auto;}
#banner-content a.kn {margin-top: 15px;margin-right: 15px;display: inline-block;border: solid 1px #0095ff;padding: 6px 11px;
	border-radius: 1px;text-transform: uppercase;font-weight: 600;font-size: 13px;line-height: 1.42857;color: #0095ff;}
#banner-content a.kn:hover {background: rgba(0,0,0,0);border: solid 1px #f56400;color: #f56400;}
@media screen and (max-width : 1100px) {#banner-content h1{font-size: 30px;}#banner-content p {font-size:14px;}} 

/*колонки*/
.sidebar-m {display: none;}
.sidebar {width: 21%;float: left;padding: 0 15px 12px 15px;}
.list-container.has-sidebar {width: 74%;float:  right;}
.sidebar-top {max-width: 250px;top: 80px; position: fixed; right: 2%; float: right;}
h1, h2, h3, h4, h5, h6 {font-weight: 300;}
.timeline-container {display: none;}
.blog-container {display: none;position: fixed;width: 13%; top: 80px;float: left;background-color: #fff;border: 1px solid #e8e8e8;padding: 15px;}
a:hover {color: #f56400;}

/*верхнее меню*/
.nav-pills>li.active>a, .nav-pills>li>a.active {color: #999;font-weight: 500;background-color: #fff;border-bottom: 3px solid #f56400;}
.nav-pills > li > a:hover{color: #999;  background-color: #fff;  border-bottom: 3px solid #f56400;} 


/*боковые категории*/
.sidebar {     
.vid {color: #919191;}
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg, .qa-cat, .category-other2 {display: none;}
a.badge-notification{float: right;}
a.box.bar:hover, .discourse-tag.bullet:hover {color: #f56400;}
.badge-notification {color: #919191 !important;font-size: 13px;background-color: #fff;}
.badge-wrapper.bullet {font-weight: 300;font-size:0.964em;display: inline-block;padding: 2px 0 2px 0;}
.badge-wrapper.bullet:hover, .badge-wrapper.bullet span.badge-category:hover, a.cvet:hover {color: #f56400;}
.badge-wrapper.bullet span.badge-category {color: #667d99;}
.cat-link .topics-count {float: right;font-weight: normal;font-size: 12px;color: #888;margin-top: 2px;}
}

.nav-pills > li > a {color: #667d99;}

/* Задать вопрос без авторизации */
.add-kn{float: right;margin-right: 145px;}
a.addqa {color: #f56400;margin-top:5px;position: absolute;padding: 6px 10px;font-weight: 500;}
a.addqa:hover {color: #fff;background: #f56400;padding: 6px 10px;font-weight: 500;}
.add-qa{float: right;font-size: 1.143em;}
.docked.navigation-topics a.addqa {margin-top:5px;}
.docked a.addqa{margin-top: 15px;}

@media screen and (max-width : 1020px) {.list-container.has-sidebar {width: 100%;}.sidebar {display:none;}}

/*детали в колонках*/
.topic-list-item-sug {border-left: 1px solid #e7edf3;margin-bottom: 15px;}
.user-profile.widget-container {color: #919191;}
.werng, #banner-nul {padding: 10px 10px 10px 10px;border: solid 1px #ddd;border-radius: 3px;margin-bottom: 15px;margin-top: 15px;
                     font-size: 0.9em;max-width: 450px;background-color: #fff;}
.werng i.fa, #banner-nul i.fa {font-size: 1.3em;color: #f56400;float: left;margin: -1px 5px 5px 0;}

/*Навигация категории*/
.category-moder .cat-link.category-moder, .category-test .cat-link.category-test,
.category-adult .cat-link.category-adult, .category-other-dev .cat-link.category-other, 
.category-toxu-community .cat-link.category-toxu, .category-goods .cat-link.category-goods, .category-other .cat-link.category-other, 
.category-psychology .cat-link.category-psychology, .category-internet .cat-link.category-internet, 
.category-occultism .cat-link.category-occultism, .category-health .cat-link.category-health, .category-dev .cat-link.category-dev,
.category-society .cat-link.category-society, .category-education .cat-link.category-education, 
.category-culture .cat-link.category-culture, .category-science .cat-link.category-science,
.category-business .cat-link.category-business, .category-work .cat-link.category-work,
.category-travel .cat-link.category-travel, .category-animals-plants .cat-link.category-animals-plants,
.category-house .cat-link.category-house, .category-automobiles .cat-link.category-automobiles,
.category-sport .cat-link.category-sport, .category-entertainment .cat-link.category-entertainment,
.category-internet-sites .cat-link.category-internet, .category-internet-computers .cat-link.category-internet, 
.category-internet-programming .cat-link.category-internet, .category-internet-discourse .cat-link.category-internet, 
.category-science-history .cat-link.category-science, .category-occultism-christianity .cat-link.category-occultism,
.category-toxu .cat-link.category-toxu, .category-toxu-regulations .cat-link.category-toxu, 
.category-blog .cat-link.category-blog {.badge-wrapper.bullet span.badge-category { color: #f56400 !important;}}
.badge-wrapper {font-weight: 300;}
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {border-radius: 10px;margin-bottom: 4px;opacity: 0.6;}
.title-wrapper .badge-wrapper.bullet {margin-bottom: 3px;}

/*комментарии*/
.topic-post.comment { 
margin-left: 53px;	
img.avatar { width: 20px; height: 20px;}
.cooked img:not(.thumbnail) {max-width: 660px !important;}
a.reply-to-tab img.avatar, .user-signature, .names span.full-name, .avatar-flair, button.share, .bookmarked, .unaccepted, .bookmark,  .names .user-title, .topic-post.comment .names span.full-name {display: none;}
.topic-avatar { padding-top: 10px;}
.topic-avatar { width: 20px;}
.topic-body .regular {margin-top: 1px;margin-left: -23px;}
.topic-body .contents .cooked p {margin-bottom: 0;}
.topic-body .contents .cooked {border-left: 3px solid #dae8f2;padding-left: 20px;font-size: 1.04em;font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;}
.topic-body { max-width: 647px;font-size: 0.93em;}
nav.post-controls button {font-size: 1em;}	
}

/*ПМ и комм*/
.topic-post.post-hidden .names span.full-name, nav.post-controls button.reply.create span.d-button-label  {display: none;}
.user-messages-page .no-no, .archetype-private_message .no-no {display: none;}
.topic-post.post-hidden nav.post-controls button.reply.create:after {   content: "";}
nav.post-controls button.reply.create:after {   content: "комм";}
.topic-post.comment nav.post-controls button.reply.create:after {   content: "комм";}
.topic-post nav.post-controls .create i.fa-reply {display: none;}
.archetype-private_message {
.boxed.onscreen-post {background-color: #fff;padding: 0 5px;border-left: 9px solid #f0fff0;}
.sidebar-top {display:none;}   
.timeline-container, #suggested-topics .loading-container.ember-view  {display:block !important;}
#topic-footer-buttons button.create, #reply-control .btn-primary {color: white; background-color: #306f30}
.topic-post button.btn-primary.create:after  {content: "комм приватно";}
.private-message-map h3:after { content: " (приватно)";} 
button.btn-primary.create span.d-button-label, li.extra-nav-item-outlet.votes {display: none;}
button.btn-primary.create:after { content: " Ответить приватно";} 	
}


/*теги*/
.discourse-tag.bullet {color: #919191 !important;position: relative;font-size: 13px;padding: 4px 8px;background: #f4f4fa;
font-weight: 300;line-height: 1.2em;border-radius: 12px;cursor: pointer;margin-right: 3px;}
.discourse-tag.bullet:before {display: none;}


/*блоги*/
.category-blog { 
.container.posts, .container, .topic-category, .title-wrapper {margin: 0 auto;}
.topic-category {margin-bottom:15px;}
.container  .title-wrapper {text-align:center;}
.sidebar-top, #post_1 .topic-avatar, #post_1 .second.full-name, #post_1 .user-title, #post_1 .user-signature {display:none;}
#post_1  .topic-body .contents .cooked { font-size: 1.2em;font-family: Verdana,Geneva,sans-serif;}
#topic-title h1 a { font-size: 33px;}
.topic-body {float: none;margin: 0 auto;}
.topic-status-info{margin: 0 auto;}
}



/*footer*/
.bottom_footer {border-top:1px solid #E0E4E7;font-size:14px;margin-top:15px;color:#888}
.footer-copyright {float:left;}
.f-copyright img {float: left;margin-top: 2px;margin-right: 8px;}
.footer_social_nav {
float: right;margin-top: -53px;
ul li {float: left;position: relative;}
ul li+li {margin-left: 20px;}}

/*раздел категории*/
body[class*="navigation-categories"] #main-outlet .container.list-container.has-sidebar {width: 100%;float: left;}
.colon.cat-cat{  float: left;width: 66%;}
.colon.post{width: 27%;float: right;margin-left: 30px;}
.navigation-categories.categories-list .sidebar, .navigation-categories.categories-list .add-qa {display: none;}
.cat-private {background-color: #eff5fa;color: #667d99;padding: 1px 0 1px 10px;margin-bottom: 5px;}
.cat-cat { 
.category-logo {margin-top: 3px;margin-bottom: 0;border-radius: 50%;width: 46px;height:46px;}
.avacat a {font-size: 13px;color: #777;text-decoration: underline;}
.telohome {float: left;width: 90%;margin-left: 15px;}
.topic-cat {display: inline-block;}
.stats {font-size: 20px;text-align: center;line-height: 22px;margin-bottom: 20px;}
.stats small {text-transform: uppercase;color: #777;font-weight: 300;font-size: 12px;}
.has-description {margin-bottom: 30px;float: left;width: 70%;}
.category-description {max-width: 450px;font-size: 0.97rem;font-weight: 400;line-height: 1.2;color: #777;}
.topics-count {float: right;font-weight: normal;font-size: 12px;color: #888;margin-top: 2px;}
.avacat img {width: 24px;    height: 24px;}
.category-title-link .category-name {    font-size: 20px;}
}
.navigation-categories.categories-list div[data-category-id="4"], 
.navigation-categories.categories-list div[data-category-id="32"] {display: none;}


/*мелкие детали*/
.topic-list {
th.activity:before {display: inline-block;content: '\f017';font-family: FontAwesome;}
th.posts:before {display: inline-block;content: '\f27b';font-family: FontAwesome;}
th.likes:before {display: inline-block;content: '\f08a';font-family: FontAwesome;}
th.views:before {display: inline-block;content: '\f06e';font-family: FontAwesome;}
}
.activity.sortable {text-align: center;}
h3.suggested-topics-message a, .footer-message.ember-view h3 a {background: #ffffca;padding: 5px;}
#scroll-top{position:fixed;opacity: 0.6;bottom:80px;padding:5px;border-radius:5px;z-index:9999;right:20px;color:#888;font-size:25px;display:none;}
#scroll-bottom{position:fixed;opacity: 0.6;bottom:50px;padding:5px;border-radius:5px;z-index:9999;right:20px;color:#888;font-size:25px;display:none;}
#scroll-top:hover, #scroll-bottom:hover {opacity: 1;}
.topic-body .contents .cooked {font-weight: 300;line-height: 1.5;font-family: Verdana,Geneva,sans-serif;}
.cooked ol li::-moz-list-number {font-weight: bold;}
.category-heading .category-logo {width: 31px;}
.category-heading p {font-size: 1.24em;color: #39739d;background-color: #eff5fa;border-color: transparent;padding: .2em .3em;}
.category-navigation ol {margin-top: 5px;margin-left: 8px;}
.sug-topic {margin-left: 8px;}
h3.sidebar-sug {font-weight: 500;color:#919191;padding-bottom: 5px;font-size: 15px;margin-top: 20px;}
.post-links-container ul li a[href] {color: #07C;}
.post-links-container ul li a[href]:hover {color: #f56400;}
post-menu-area {margin-bottom: 1px;margin-top:2px;}
.regular.contents a[rel~="nofollow"]::after {display: inline-block;content: ' \f08e ';font-family: FontAwesome;color: #999;
    font-size: 11px;margin-left: 3px;}
#create-topic {background: transparent;color: #f56400;}
#create-topic:hover, #create-topic:active {color: #fff;background-color: #f56400;}
img.avatar:hover, .d-header #site-logo:hover {opacity: 0.8;}
.topic-list > tbody {border-top: 1px solid #e9e9e9;}
.user-signature, .names .user-title a, .names .user-title {position: relative;color: #919191;font-size: 13px;}
.post-menu-area {margin-bottom: 1px;margin-top:2px;}
span.excerpt{background-color: #ffffca;display: inline-block;padding: 8px;font-size: 14px;}
.groups-d { max-width: 1160px;margin-bottom: 25px;background-color: #ffffca;padding: 8px;line-height: 1.6;font-size: 16px;}
.badge-notification.new-topic { color: #f56400;font-size: .9em;}

.main-link.clearfix .telohome .title-t a.title { 
 color: #09C;font-size: 1.08em; 
   &:visited {color: #07C;}
   &:hover {color: #f56400;}
}

/*Social*/
.share2 {margin-top: -5px;}
 hr.shar {width: 123px;border-top: 4px dotted #ddd;margin-bottom: 10px;}
.soc-link {display: inline-block;font-size: 18px;color: #919191;margin-right: 14px;margin-left: 2px;}
a.soc-link:hover {color:#f56400;opacity:1;}
a.soc-link {color:#919191;opacity: 0.8;}
.socv {color: #919191;margin-bottom: 5px;margin-top: 15px;}
a.facebook, a.vk, a.twitter, a.discord, a.telegram, a.livejournal, a.ok {color: #bdbdbd;margin-right: 15px;}
.soc {font-size: 12px;}

/*Катерория Toxu-правила*/
.custom-cat-header {	display: block;	margin-left: -9999px!important;	padding-left: 9999px!important;
	margin-right: -9999px!important;padding-right: 9999px!important;text-align: center;margin-top: -18px;}
.custom-cat-header p {color: #fff; font-size:17px;padding-bottom: 10px;}
.custom-cat-header h1 {display: inline-block;margin-top: 20px;color: #fff;border-radius: 5px;width: inherit;}
body.category-toxu-regulations .custom-cat-header-toxu-regulations {display: block;background-color: #f56400;}
body.category-toxu-regulations .category-heading, .custom-cat-header-toxu-regulations, 
body.category-toxu-regulations .sidebar-top{display: none;}
body.category-toxu-regulations .timeline-container {display: inline-block;}
.category-toxu-regulations .avahome {display: inline-block !important;margin-top: 1px;}

@media screen and (min-width : 1055px) {.container.posts, #topic-title .title-wrapper {width: 790px;} .sidebar-top {max-width: 250px;top: 80px; position: fixed; right: 2%; float: right;}}
@media screen and (max-width : 1055px) {.container.posts, #topic-title .title-wrapper {width: 790px;} .sidebar-top {max-width: 200px;top: 80px; position: fixed; right: 1%; float: right;}}
@media screen and (max-width : 980px) {.container.posts, #topic-title .title-wrapper {width: 100%;}.sidebar-top {display: none;}}

/*add mobile*/
html.mobile-view {
.sidebar, .user-signature, .category-heading, #banner-content, .sidebar-top, #reply-control .d-editor-button-bar .quote.btn, #scroll-bottom, #scroll-top {display: none !important;}
.timeline-container {display: block;}
.navigation-categories {th.latest, td.latest {display: none;}.category {width: 99%;}}
.topic-post.comment .topic-avatar {padding-top: 0;}	
}
