<h1 style="text-align:center; font-size: 2.0em;">Что означает название «Toxu»?</h1>

<div style="text-align:center">
<br>

<img src="https://toxu.ru/uploads/default/original/2X/f/fcd2d5da65e0ecb37465724bfe40855872ea0788.jpg" alt="Кличка совы: toxu " width="100" height="100">
<br><br>
<span style="color: #7a98a9;">«Toxu» - эта кличка нашей энергичной, умной совы, которая вот уже 4 месяца живет в офисе</span>
</div>

<div>

<br><br><table width="99%"><tr>
    <td width="250px">
    <img src="https://toxu.ru/uploads/default/original/2X/6/6eaa992c67d150922ffa3a6fde6527ae8042f8b3.jpg" alt="Кличка совы: toxu " width="240"></td>
    <td  width="20px"> </td>
    <td valign="top"> <h2>Toxu</h2><br>

   <i>«Toxu»</i>, абсолютно не агрессивная, любопытная создание, которое и днем и ночью постоянно смотрит, что мы делаем.<br><br>
   <i>- Когда Toxu спит?</i>  - спрашивал я<br>
   <i>- Неизвестно. Лично я ни разу не видел её спящей</i>  - отвечают сотрудники <br><br>
   
   Ведет себя <i>Toxu</i> очень спокойно, больше наблюдает. <br>
   Лишь один раз, когда мы громко включили телевизор, <i>Toxu</i> начал проявлять некоторое чувство беспокойства.<br>
   Возможно ему не понравилась та "информация" которую он услушал?
   
   
    </td>
</tr></table>
<br><br>
<h3>А зачем вообще создавался сайт <i>Toxu</i>?</h3>
<br>
Небольшая история... (в разработке...)
<br><br>
Но если говорить серьезно, то прочитайте несколько слов о нашей миссии, и зачем мы начали делать этот сайт:
<br>
<a title="Какова миссия Toxu?" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a>
<br><br>
<i>В стадии разработки...</i>

</div>

<br><br>  <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
