<h1 style="font-size: 2.0em;">Toxu - это интересно</h1>
<div style="color: #7a98a9;">{{model.name}}</div><br>
<div class="topic-list"> 
<div class="main-link clearfix"> 
Тут просто текст... и история...
</div></div>
<hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
