<style type="text/css">
   .toxu {padding: 20px;color: #333; font-size: 14px;font-family: 'PT Sans', Verdana, Arial, "Liberation Sans", sans-serif;}
   .toxo-owl {float:left;margin: 4px 20px 2px 0px;width:220px;border:1px solid #CCC;padding:6px;}
   h2.t1 {color: #555;margin-top: 15px;}
   h3.t2 {color: #555;margin-top: 15px;}
 </style>

<div class="telo">

<h1 style="text-align:center; font-size: 2.0em;">Что означает название сайта «Toxu»?</h1>

<div style="text-align:center">
<br>

<span style="color: #7a98a9;">«Toxu» - это кличка энергичной и умной совы, которая вот уже 4 месяца живет в нашем офисе.</span>
</div>
</div>

<br>
<div class="toxu">

<img src="https://toxu.ru/uploads/default/optimized/2X/c/c1ad1474e5c529bca00df7193acd8e7aebd733a5_1_375x500.jpg" alt="Кличка совы: toxu " class="toxo-owl">

<h2  class="t1">Toxu</h2><br>

<i>Toxu </i> - это милое, доброе, любопытное создание, которое и днем и ночью постоянно наблюдает, что же мы делаем, активно пытается участвовать в жизни офиса, бывает и шалит, но неизменно дарит нам хорошее настроение.<br><br>

<i>- Когда же Toxu спит?</i> - спрашивал я.<br>
<i>- Да кто её знает. Ни разу не видели её спящей,</i> - говорят мне сотрудники. 

   <br><br>

Ведет себя <i>Toxu</i> очень спокойно - больше наблюдает. Лишь один раз, когда мы громко включили телевизор, <i>Toxu</i> забеспокоилась - телевизионные новости пришлись нашей сове не по вкусу.
<br><br>
И когда возник вопрос, кого же выбрать символом сайта, мы единогласно выбрали сову.   <br><br>
   
<i>Сова – это свобода в передвижении.<br>
Сова – это символ мудрости, упорство и настойчивость в достижении цели.<br>
Сова - это разнообразие в природе и жизни.</i>
<br> <br> 


Вот такое мудрое и интересное существо это Toxu. Думает, смотрит, делает выводы.

<br> 
<h3 class="t2">А зачем вообще создавался сайт <i>Toxu</i>?</h3>  
<br>
Давайте выберем любой другой сайт ВиО в интернете и честно спросим себя, какая же основная цель того сайта, который мы видим. Это будет все что угодно: попытка заработать деньги, политическая составляющая, свободное чато-подобное общение. Но сайтов, которые созданы именно для обмена знаниями и опытом практически нет. А что может быть более важно? Что более важно для молодого поколения, для страны, для Планеты? <br><br>
Мы попробуем изменить ситуацию и создать ресурс, целью которого является обмен знаниями, опытом и объединение людей на фоне этой идеи. Думаем, что это достойная цель. <br><br>
Присоединяйтесь сами и пожелайте нам удачи! <br><br>


<br>Небольшая история, шутливая о нашем талисмане - сове, Toxu ... <i>(в разработке...)</i>
<br><br><br>
Но если говорить серьезно, то прочтите несколько слов о нашей миссии, и зачем мы начали создавать этот сайт:
<br><br>
<center><a class="btn-primary create btn btn-icon-text ember-view" title="Какова миссия Toxu?" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a>
<br><br>
</center>
</div>
