<h1 style="text-align:center; font-size: 2.0em;">Что означает название «Toxu»?</h1>

<div style="text-align:center">
<br>

<img src="https://toxu.ru/uploads/default/original/2X/f/fcd2d5da65e0ecb37465724bfe40855872ea0788.jpg" alt="Кличка совы: toxu " width="100" height="100">
<br><br>
<span style="color: #7a98a9;">«Toxu» - эта кличка нашей энергичной, умной совы, которая вот уже 4 месяца живет в офисе</span>
</div>

<div>

<i>В стадии разработки...</i>

</div>

<br><br>  <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
