<style type="text/css">
   .toxu {padding: 20px;color: #333; font-size: 15px;}
   .toxo-owl {float:left;margin: 4px 20px 2px 0px;border:1px solid #CCC;padding:6px;}
   h2.t1 {color: #555;margin-top: 15px;}
   h3.t2 {color: #555;margin-top: 15px;}
 </style>

<div class="telo">

<h1 style="text-align:center; font-size: 2.0em;">Что означает название нашего сайта «Toxu»?</h1>

<div style="text-align:center">
<br>

<span style="color: #7a98a9;">«Toxu» - это кличка нашей энергичной, умной совы, которая вот уже 4 месяца живет в офисе</span>
</div>
</div>

<br>
<div class="toxu">

<img src="https://toxu.ru/uploads/default/original/2X/e/eb7f4dad08bda3aa85bb622917b8f3b17dd51713.jpg" alt="Кличка совы: toxu " class="toxo-owl">

<h2  class="t1">Toxu</h2><br>
   <i>Toxu</i> - это абсолютно неагрессивное, любопытное создание, которое и днем и ночью постоянно смотрит, что мы делаем.<br><br>
   <i>- Когда Toxu спит?</i>  - спрашивал я.<br>
   <i>-  Неизвестно. Никто ни разу не видел её спящей,</i> - отвечают сотрудники. <br><br>
   
Ведет себя <i>Toxu</i> очень спокойно, больше наблюдает. Лишь один раз, когда мы громко включили телевизор, 
<i>Toxu</i> начала проявлять некоторое чувство беспокойства. Возможно сове просто не понравилась информация.<br><br>
   
<i>Сова – это свобода в передвижении,<br><br>
Сова – это символ мудрости, упорство и настойчивость в достижении цели.<br><br>
Сова - это разнообразие в природе и жизни.</i>
<br> <br> 

А вообще, очень позитивное и интересное существо это Toxu. Думает, смотрит, делает выводы, заряжая всех  нас позитивом.

<br> 
<h3 class="t2">А зачем вообще создавался сайт <i>Toxu</i>?</h3>
<br>
Небольшая история, шутливая ... <i>(в разработке...)</i>
<br><br><br>
Но если говорить серьезно, то прочитайте несколько слов о нашей миссии, и зачем мы начали делать этот сайт:
<br><br>
<center><a class="btn-primary create btn btn-icon-text ember-view" title="Какова миссия Toxu?" href="https://toxu.ru/t/kakova-missiya-toxu/1251">Какова миссия Toxu?</a>
<br><br>
</center>


</div>

 <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
