<style type="text/css">
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}

.sidebar-menu {float:left;width:22%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;background-color: #fff;border: 1px solid #e8e8e8;padding: 15px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}

@media (max-width: 800px) { 
  .bottom_footer, .sidebar-menu {display: none;} 
  .telo {width:96%;margin-left:10px;}
}

</style>
<div class="help">
<div class="sidebar-menu"><br>
<a class="menu" href="help">Помощь</a>
<a class="menu" href="features">Возможности сайта</a>
<span class="menu"> Почему сайт назван Toxu?</span>
<a class="menu" href="dev">Для разработчиков</a>
{{mount-widget widget="page-my-menu"}}
</div>
<div class="telo toxu">

<h1 class="t1">Что означает название сайта «Toxu»?</h1>

<span style="color: #7a98a9;">«Toxu» (Тоха) - это кличка энергичной и умной совы, которая вот уже около года живет в нашем офисе.</span>
<br><br>

<img src="https://toxu.ru/uploads/default/optimized/2X/c/c1ad1474e5c529bca00df7193acd8e7aebd733a5_1_375x500.jpg" alt="Кличка совы: toxu " class="toxo-owl">

<i>Toxu </i> - это милое, доброе, любопытное создание, которое и днем и ночью постоянно наблюдает, что же мы делаем, активно пытается участвовать в жизни офиса, бывает и шалит, но неизменно дарит нам хорошее настроение.<br><br>

<i>- Когда же Тоха спит?</i> - спрашивал я.<br>
<i>- Да кто её знает. Ни разу не видели её спящей,</i> - говорят мне сотрудники. 

<br><br>

Ведет себя <i>Toxu</i> очень спокойно - больше наблюдает. Лишь один раз, когда мы громко включили телевизор, <i>Toxu</i> забеспокоилась - телевизионные новости пришлись нашей сове не по вкусу.
<br><br>
И когда возник вопрос, кого же выбрать символом сайта, мы единогласно выбрали сову.   <br><br>
   
<i>Сова – это свобода в передвижении.<br>
Сова – это символ мудрости, упорство и настойчивость в достижении цели.<br>
Сова - это разнообразие в природе и жизни.</i>
<br> <br> 


Вот такое мудрое и интересное существо это Toxu. Думает, смотрит, делает выводы.

<br> 
<h3 class="t3">А зачем вообще создавался сайт <i>Toxu</i>?</h3>  

Давайте выберем любой другой сайт ВиО в интернете и честно спросим себя, какая же основная цель того сайта, который мы видим. Это будет все что угодно: попытка заработать деньги, политическая составляющая, свободное чато-подобное общение. Но сайтов, которые созданы именно для обмена знаниями и опытом практически нет. А что может быть более важно? Что более важно для молодого поколения, для страны, для Планеты? <br><br>
Мы попробуем изменить ситуацию и создать ресурс, целью которого является обмен знаниями, опытом и объединение людей на фоне этой идеи. Думаем, что это достойная цель. <br><br>
<b>Присоединяйтесь сами и пожелайте нам удачи! </b><br>

<section class="about contact">
<h3><i class="fa fa-envelope-o d-icon d-icon-envelope-o"></i> Контакты</h3>
<p>Если у вас возникли трудности при использовании сайта, или есть вопросы, пишите: <img src="https://toxu.ru/uploads/default/original/2X/1/1a13a0921ac5c3e52cc74d68529e2c92709eca12.png">
</p>
</section>

<br>
</div></div>

<div class="bottom_footer wrap" style="clear:both;"><div class="f-copyright">
<a title="Toxu сова" href="https://toxu.ru/toxu">
<img border="0" alt="Сова Toxu" src="https://toxu.ru/uploads/default/original/2X/2/2151b0ee8e1a16da9e857e51de54fe4d42e0cd8a.jpg" width="30"></a>
<p class="copyright">Copyright © 2018  <a title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
<small> <a href="https://toxu.ru/t/voprosy-k-administraczii-sajta/2016">Обратная связь</a> с администрацией сайта.</small>
</p></div>
<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="rss" target="_blank" href="https://toxu.ru/latest.rss"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
</ul></div></noindex></div>
