{{#if siteSettings.userbar_enabled}}
  <!--div class="control-group signatures">
    <label class="control-label">Enable Signatures</label>
    <div class="controls">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.userbar_cat}}
          See user signatures below posts
      </label>
    </div>
  </div-->


  <div class="control-group signatures">
    <label class="control-label">Юзербар</label>
    <img src="https://toxu.ru/uploads/default/original/2X/b/b4f4689d19eb90c97318c3e1eacfdae09c7492cd.gif" alt=Узербар" width="262" height="129">
   <br> <small>Пример</small><br>
    <div class="controls">
      <label class='checkbox-label'>
        {{input type="checkbox" checked=model.custom_fields.userbar_profile}}
           <small> Убрать информацию о себе из бокового меню на главной странице.</small>
      </label>
    </div>
  </div>
{{/if}}
