<style type="text/css">
.toxo-owl {float:left;margin: 4px 20px 2px 0px;width:160px;border:1px solid #CCC;padding:6px;}
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
h1.t1 {color: #555;margin-top: 15px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
a.gramota{background: #0095ff;padding: 6px 12px;color: #fff;}
a.gramota:hover{background: #09c;;padding: 6px 12px;color: #fff !important;}
.sidebar-menu {
    float: left;
    width: 220px;
    position: fixed;
    background: #f9f9f9;
    padding: 1px 11px 10px 17px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.telo {
    float: right;
    width: 69%;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 5px 20px 3px 20px;
}
.menu {
    margin-bottom: 10px;
    font-size: 15px;
    display: block;
}
span.menu {
    color: #f56400;
}
img {max-width: 95%;}
.help-box {width: 99%;margin: 0 1% 1.5em 1%;}
.help-g {margin: 2em auto;text-align: left; -moz-column-count: 3;column-count: 3;}
.help-box-heading{text-align: center;}
.help-box-inner{width: 100%;padding: 0;border-width: 1px;border-style: solid;border-color: #e5e5e5;}
.help-box-heading i.fa {font-size: 22px;color: #444;text-align: center;margin-top: 0.4em;}
.help-box h3 {font-size: 1.3em;margin-bottom: 0.5em;margin-top: 0.25em;line-height: 1.1em;text-align: center;color: #444;}
.help-box-inner {text-align: center;}
.help-description{padding: 3px;text-align: center;color: #919191;}
img.img {border: 1px solid #e9e9e9;margin-top: 15px;margin-bottom: 15px;box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
hr.footer{margin: 21px 0 5px 0;}
.toxu-foot{    font-size: 13px;    color: #888;}
a.coop {    display: inline-block;    font-size: 13px;}
.footer_soc_toxu {margin-top: 10px;}
ul.nav-social {    margin: 0;    text-align: center;}
li.fa {    margin-right: 15px;}
li.fa a {color: #999;}
li.fa a:hover {color: #f56400;}
.toxu ul {list-style-type: none;}
.toxu ul li {
    background-image: url(https://toxu.ru/uploads/default/original/2X/7/747400ddaf4843f169c2d5f5cc35bb0134f89480.png);
    background-repeat: no-repeat;
    background-position: 0px 9px;
    padding-left: 15px;
}
html:not(.mobile-view) .search-header {margin-left: 134px;}
@media (max-width: 950px) { 
  .sidebar-menu, .no-mob, .search-header {display: none;} 
  .telo {width:94%;margin:0;} .toxu {font-size: 0.9em;}
}
</style>

<div class="help">
<div class="cont-stat">
<div class="sidebar-menu"><br>
<a class="menu" href="help">Помощь</a>
<a class="menu" href="features">Возможности сайта</a>
<a class="menu" href="toxu">Почему сайт назван Toxu?</a>
<a class="menu" href="dev">Для разработчиков</a>
 <span class="menu">Мои возможности</span>
 
<div class="toxu-foot" style="font-size: 13px;color: #888;">
<hr class="footer">
<a href="" class="coop" style="display: inline-block;font-size: 13px;">© 2018 Toxu.ru</a> — обмен знаниями<br>
<noindex><div class="footer_soc_toxu" style="margin-top: 10px;"><ul class="nav-social">
<li class="fa" style="margin-right: 5px;"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i aria-hidden="true" class="fa fa-comment"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i aria-hidden="true" class="fa fa-telegram"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i aria-hidden="true" class="fa fa-vk"></i></a></li>
<li class="fa"><a rel="nofollow" title="rss" target="_blank" href="https://toxu.ru/latest.rss"><i aria-hidden="true" class="fa fa-rss-square"></i></a></li>
</ul></div></noindex></div> 
 
 
</div>
<div class="telo toxu">


{{mount-widget widget="page-stats"}}


</div></div></div>


