<style type="text/css">
.toxu {color: #333;font-weight: 300;font-size: 16px;font-family: "Exo 2",Arial,Helvetica,sans-serif;line-height: 24px;}
b, strong { font-weight: 500;}
</style>
{{mount-widget widget="page-stats"}}

<hr>
    <footer id='noscript-footer'>
        <p><i>Это индивидуальная страница доступная только вам. Для других участников эта страница будет иметь другое содержание.</i> </p>
      </footer>
<br> 
