<h1 style="text-align:center; font-size: 2.0em;">Для разработчиков</h1>

<div style="text-align:center">
<br>

<img src="https://toxu.ru/uploads/default/original/2X/4/44f1927f8d4b1f64eaad6755095bea5eab2847c9.png" alt="toxu-dev" width="100" height="100">
<br><br>
<span style="color: #7a98a9;">Тут будут разные API данные и т.д. А еще одна новая, по ссылке ниже...</span>


</div>
<div style="text-align:center">

<br><h3>Поделиться ссылкой</h3>
Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.
<br>Вы можете пригласить друзей для регистрации из ВКонтакте.<br><br>
Данная информация будет размещена на вашей странице и выглядеть так:<br><hr>
<img title="misogi.ru" alt="misogi.ru" src="http://misogi.ru/uploads/misogi3.gif"><hr>

<a rel="nofollow" href="http://vk.com/share.php?url=https://toxu.ru/&amp;title=%D0%9C%D0%B8%D1%81%D0%BE%D0%B3%D0%B8%20-%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B%20%D0%B8%20%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D1%8B.%20%D0%94%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D0%B8%D0%B8.&amp;image=https://toxu.ru/uploads/default/original/2X/4/44f1927f8d4b1f64eaad6755095bea5eab2847c9.png&amp;noparse=1" target="_blank"><span style="color: red;">Опубликовать в VK</span></a><br><br>
<h3>Toxu в социальных сетях</h3>

<table border="0"><tbody><tr>
<td style="width: 200px;"><a rel="nofollow" href="https://vk.com/toxu_ru" target="_blank"><br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/8/84baa24406be1130ffcc51cb1ec5542bbedcfcbc.png" alt="image"></a> ВКонтакте<br></td>

<td style="width: 200px;"><a rel="nofollow" href="https://twitter.com/toxu_russian" target="_blank">
<br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/b/b0a82e3e19e2ddf4a237edbfe98daf111f9c5011.png" alt="image"></a> Twitter<br></td>

<td style="width: 200px;"><a rel="nofollow" href="https://www.facebook.com/toxu.ru" target="_blank"><br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/d/d1b2b70d7aeff606a99c8dda3c2cf4fa9d04c881.png" alt="image"></a> Facebook<br></td></tr></tbody></table>
<br>
<h3>Код для размещения на сайте может выглядеть так</h3>
 
<blockquote><pre>&lt;a href="<a href="https://toxu.ru" target="_blank" rel="nofollow">https://toxu.ru</a>" target="_blank"&gt;Toxu — место для обмена знаниями. Вопросы и ответы.и&lt;/a&gt;<br></pre></blockquote>
<br><b>Обратная связь с администрацией:</b> 
<img alt="администрация Toxu" title="администрация Toxu" src="https://toxu.ru/uploads/default/original/1X/d58e5ee66ebfb6c5a93286857827508fc2f7e07e.jpg"></div>

<br><br><b>Некоторые полезные ссылки</b><br>
<li><a href="https://toxu.ru/c/toxu">Вопросы и ответы по сайту Toxu.ru</a></li>
<li><a href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайта Toxu</a></li>
<li><a href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API Toxu</a></li>

</div>

<div class="topic-list"> 
<div class="main-link clearfix"> 
<a href="https://toxu.ru/c/toxu">Перейти на горячие вопросы</a>
</div>
</div>
