<h1 style="text-align:center; font-size: 2.0em;">Для разработчиков</h1>

<div style="text-align:center">
<br>

<img src="https://toxu.ru/uploads/default/original/2X/4/44f1927f8d4b1f64eaad6755095bea5eab2847c9.png" alt="toxu-dev" width="100" height="100">
<br><br>
<span style="color: #7a98a9;">Полезные инструменты по API, ссылки, материалы...</span>


</div>
<div>

<br><h3>Поделиться ссылкой</h3>
Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.
<br>Вы можете пригласить друзей для регистрации из ВКонтакте.<br><br>
Данная информация будет размещена на вашей странице и выглядеть так:<br>

<img title="toxu.ru" alt="toxu.ru" src="https://toxu.ru/uploads/default/original/2X/8/826b0ed735f4f580e16f98c87735e0d930593b1a.png">

<a rel="nofollow" href="http://vk.com/share.php?url=https://toxu.ru/&amp;title=Toxu+%E2%80%94+%D0%BC%D0%B5%D1%81%D1%82%D0%BE+%D0%B4%D0%BB%D1%8F+%D0%BE%D0%B1%D0%BC%D0%B5%D0%BD%D0%B0+%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F%D0%BC%D0%B8.+%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B+%D0%B8+%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D1%8B.&amp;image=https://toxu.ru/uploads/default/original/2X/9/9e25a5d0f56cc3b0e1d71f21fcbad40b864d50ea.png&amp;noparse=1" target="_blank"><span style="color: red;">Опубликовать в ВКонтакте</span></a><br><br>
<h3>Toxu в социальных сетях</h3>

<table border="0"><tbody><tr>
<td style="width: 200px;"><a rel="nofollow" href="https://vk.com/toxu_ru" target="_blank"><br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/8/84baa24406be1130ffcc51cb1ec5542bbedcfcbc.png" alt="image"></a> ВКонтакте<br></td>

<td style="width: 200px;"><a rel="nofollow" href="https://twitter.com/toxu_russian" target="_blank">
<br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/b/b0a82e3e19e2ddf4a237edbfe98daf111f9c5011.png" alt="image"></a> Twitter<br></td>

<td style="width: 200px;"><a rel="nofollow" href="https://www.facebook.com/toxu.ru" target="_blank"><br>
<img width="48" src="https://toxu.ru/uploads/default/original/2X/d/d1b2b70d7aeff606a99c8dda3c2cf4fa9d04c881.png" alt="image"></a> Facebook<br></td></tr></tbody></table>
<br>
<h3>Код для размещения на сайте может выглядеть так</h3>
 
<blockquote><pre>&lt;a href="<a href="https://toxu.ru" target="_blank" rel="nofollow">https://toxu.ru</a>" target="_blank"&gt;Toxu — место для обмена знаниями. Вопросы и ответы.&lt;/a&gt;<br></pre></blockquote>
<br><i>Обратная связь с администрацией:</i> 
<img width="100px" alt="администрация Toxu" title="администрация Toxu" src="https://toxu.ru/uploads/default/original/1X/d58e5ee66ebfb6c5a93286857827508fc2f7e07e.jpg"> 

<br><br><b>Некоторые полезные ссылки</b><br><br><ul>
<li><a href="https://toxu.ru/c/toxu">Вопросы и ответы по сайту Toxu.ru</a></li><br>
<li><a href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайта Toxu</a></li><br>
<li><a href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API Toxu</a></li><br>
</ul>
</div>

<br> 
<center><a class="btn-primary create btn btn-icon-text ember-view" href="https://toxu.ru/hots">Перейти на горячие вопросы</a></center>
<br><br>  <hr>
    <footer id='noscript-footer'>
        <p><a href="https://toxu.ru">Toxu.ru</a> - место для обмена знаниями и лучшего понимания мира </p>
      </footer>
<br> 
