<style type="text/css">
.toxu {color: #333;font-weight: 300; font-size: 1.1em;line-height: 24px;font-family: Verdana,Geneva,sans-serif;}
h1.t1 {color: #555;margin-top: 5px;margin-bottom: 15px;font-weight: 300;font-size: 1.9em;}
h2.t2 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.6em;}
h3.t3 {color: #555;margin-top: 15px;font-weight: 300;font-size: 1.3em;}
.sidebar-menu {float:left;width:25%;position: relative;background: #f9f9f9;padding: 2px 3px 5px 7px}
.telo {float:left;width:69%;margin-left: 30px;}
.menu {margin-bottom:10px;font-size: 16px;display: block;}
.toxu ul {list-style-type: none;}
img.img {border: 1px solid #e9e9e9;
margin-top: 15px;
margin-bottom: 15px;
box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);}
.toxu ul li {
    background-image: url(https://toxu.ru/uploads/default/original/2X/7/747400ddaf4843f169c2d5f5cc35bb0134f89480.png);
    background-repeat: no-repeat;
    background-position: 0px 9px;
    padding-left: 15px;
}
@media (max-width: 800px) { 
  .bottom_footer, .sidebar-menu {display: none;} 
  .telo {width:96%;margin-left:10px;}
}
</style>

<div class="help">
<div class="sidebar-menu"><br>
<a class="menu" href="help">Помощь</a>
<a class="menu" href="features">Возможности сайта</a>
<a class="menu" href="toxu"> Почему сайт назван Toxu?</a>
<span class="menu">Для разработчиков</span>

</div>
<div class="telo toxu">

<h1 class="t1">Для разработчиков</h1>

<span style="color: #7a98a9;">Полезные инструменты по API, ссылки, материалы...</span>
<br>


<br>Вы можете разместить последние вопросы с сайта на центальной странице Яндекса просто нажав на 
<a target="_blank" href="https://yandex.ru/?add=193052&from=shared">эту ссылку</a>.
<br><br><b>Это будет выглядеть так:</b><br>
<img width="90%" class="img" src="https://toxu.ru/uploads/default/optimized/2X/d/d484a106b164d99aa286f8adca6247fde7ee6748_1_690x404.jpg" alt="Виджет Toxu на Яндекс">
<br>
<b>Код ссылки:</b> <i>https://yandex.ru/?add=193052&from=shared</i>

<br><br><h3  class="t3">Поделиться ссылкой</h3>
Будем благодарны, если разместите нашу ссылку/кнопку на вашей странице, это поможет другим попасть на наш сайт.
<br>Вы можете пригласить друзей для регистрации из ВКонтакте.<br><br>
Данная информация будет размещена на вашей странице и выглядеть так:<br>

<img class="img" title="toxu.ru" alt="toxu.ru" src="https://toxu.ru/uploads/default/original/2X/8/826b0ed735f4f580e16f98c87735e0d930593b1a.png">

<a rel="nofollow" href="http://vk.com/share.php?url=https://toxu.ru/&amp;title=Toxu+%E2%80%94+%D0%BC%D0%B5%D1%81%D1%82%D0%BE+%D0%B4%D0%BB%D1%8F+%D0%BE%D0%B1%D0%BC%D0%B5%D0%BD%D0%B0+%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D1%8F%D0%BC%D0%B8.+%D0%92%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B+%D0%B8+%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D1%8B.&amp;image=https://toxu.ru/uploads/default/original/2X/9/9e25a5d0f56cc3b0e1d71f21fcbad40b864d50ea.png&amp;noparse=1" target="_blank">
<br><span style="color: red;">Опубликовать в ВКонтакте</span></a><br>

<h3 class="t3">Toxu в социальных сетях</h3>

<table border="0"><tbody><tr>
<td style="width: 150px;"><a rel="nofollow" href="https://vk.com/toxu_ru" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/8/84baa24406be1130ffcc51cb1ec5542bbedcfcbc.png" alt="ВКонтакте"> ВКонтакте</a><br></td>

<td style="width: 150px;"><a rel="nofollow" href="https://twitter.com/toxu_russian" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/b/b0a82e3e19e2ddf4a237edbfe98daf111f9c5011.png" alt="Twitter"> Twitter</a><br></td>

<td style="width: 150px;"><a rel="nofollow" href="https://www.facebook.com/toxu.ru" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/d/d1b2b70d7aeff606a99c8dda3c2cf4fa9d04c881.png" alt="Facebook"> Facebook</a><br>
</td>

<td style="width: 150px;"><a rel="nofollow" href="https://telegram.me/toxuru" target="_blank">
<img width="48" class="dsh" src="https://toxu.ru/uploads/default/original/2X/b/bfae5fc02934319ed2afd5fb25a70cc561c95f5c.jpg" alt="telegram"> Telegram</a><br>
</td>

</tr></tbody></table>
<br>
<h3 class="t3">Код для размещения на сайте может выглядеть так</h3>
 
<blockquote><pre>&lt;a href="<a href="https://toxu.ru" target="_blank" rel="nofollow">https://toxu.ru</a>" target="_blank"&gt;Toxu — место для обмена знаниями. Вопросы и ответы.&lt;/a&gt;<br></pre></blockquote>
<br><i>Обратная связь с администрацией:</i> 
<img width="100px" alt="администрация Toxu" title="администрация Toxu" src="https://toxu.ru/uploads/default/original/1X/d58e5ee66ebfb6c5a93286857827508fc2f7e07e.jpg"> 

<br><br><b>Некоторые полезные ссылки</b><br><ul>
<li><a href="https://toxu.ru/c/toxu">Вопросы и ответы по сайту Toxu.ru</a></li>
<li><a target="_blank" href="https://toxu.ru/t/rss-kanaly-sajta-toxu/1156">RSS-каналы сайта Toxu</a></li>
<li><a target="_blank" href="https://toxu.ru/t/znakomstvo-s-api-toxu/1088">Знакомство с API Toxu</a></li>
</ul><br>
</div></div>

<div class="bottom_footer wrap" style="clear:both;"><div class="f-copyright">
<a title="Toxu сова" href="https://toxu.ru/toxu">
<img border="0" alt="Сова Toxu" src="https://toxu.ru/uploads/default/original/2X/2/2151b0ee8e1a16da9e857e51de54fe4d42e0cd8a.jpg" width="30"></a>
<p class="copyright">Copyright © 2018  <a title="обмен знаниями" href="https://toxu.ru">Toxu.ru — место для обмена знаниями и опытом</a> <br> 
<small> <a href="https://toxu.ru/t/voprosy-k-administraczii-sajta/2016">Обратная связь</a> с администрацией сайта.</small>
</p></div>
<noindex><div class="footer_social_nav"><ul class="nav-social">
<li class="fa"><a rel="nofollow" title="Discord" target="_blank" href="https://discord.gg/8P3TNjP"><i class="fa fa-comment" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Telegram" target="_blank" href="https://telegram.me/toxuru"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Facebook" target="_blank" href="https://www.facebook.com/toxu.ru"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Twitter" target="_blank" href="https://twitter.com/toxu_russian"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="Vk" target="_blank" href="https://vk.com/toxu_ru"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
<li class="fa"><a rel="nofollow" title="rss" target="_blank" href="https://toxu.ru/latest.rss"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
</ul></div></noindex></div>
